@charset "utf-8"; 
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,blockquote,input { margin:0; padding:0; }
table { border-collapse: collapse; font-size: inherit; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
a { cursor: pointer; color: #3366bb; } 

html { height: 100%; overflow-y: hidden;}
body { height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4d4d4d; }

/* aesthetics */
.float_left { float: left; }
.float_right { float: right; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.padding_0 { padding: 0!important; }
.padding_5 { padding: 5px; }
.padding_10 { padding: 10px; }
.marginT_5 { margin-top: 5px; }
.marginT_10 { margin-top: 10px; }
.marginT_20 { margin-top: 20px; }
.marginT_0 { margin-top: 0; }
.marginB_20 { margin-bottom: 20px; }
.paddingL_10 { padding-left: 10px; }
.alignR { text-align: right; }
.inlineblock { display: inline-block; }
/* aesthetics */

/* text */
.font11 { font-size: 11px!important; font-weight: normal!important; }
.bold { font-weight: bold; }
.align_center { text-align: center; }
.color_253084 { color: #253084; }/* blue */
.color_0067b1 { color: #0067b1; }/* rhb blue */
.color_ef3e42 { color: #ef3e42; }/* red */
h1 { font-size: 20px; font-weight: normal; color: #464646; margin-bottom: 10px; }
h1 span { font-weight: normal; }
h2 { font-size: 20px; font-weight: normal; color: #464646; margin-bottom: 10px; }
h2 span { font-weight: normal; }
h3 { font-size: 18px; color: #0067b1; margin-bottom: 4px; line-height: 28px; }
h4 { font-size: 20px; color: #424242; margin-bottom: 4px; }
h5 { font-size: 20px; font-weight:bold; color: #CC0000; margin-bottom: 4px; }

/* Error HTML */
h6 { font-size: 20px; font-weight: normal; color: #464646; }

.asterisk { color: #F00; }
.clsAsterisk { color: #F00!important; }
.darkbold, .darkbold16 { color: #404040; font-weight: bold; }
.darkbold16 { font-size: 16px; }
.link { color: #0097e6; padding-left: 2px; }

iframe body {background-color:transparent;}

.clsInstruction{ padding-left:40px;font-family : Arial;font-size : 8pt;color : red;}
.clsInstruction li{font-style : italic;}
.word_break_all { -ms-word-break: break-all; word-break: break-all; }

/* text */

/* buttons */
.btn_L { background-position: top left; }
.btn_R { background-position: top right; }

a.btn_blue div { height: 33px; float: left; background-image: url(../images/btn_blue.png); background-repeat: no-repeat; }
a.btn_blue .btn_L, .btn_blue .btn_R { width: 20px; }
a.btn_blue:hover .btn_L { background-position: 0px -33px; }
a.btn_blue:hover .btn_R { background-position: -57px -33px; }
a.btn_blue .btnB_GO { width: 40px; background-position: -20px 0px; }
a.btn_blue:hover .btnB_GO { background-position: -20px -33px; }
a.btn_blue .btnB_LOGIN { width: 60px; background-position: -6px -66px; }
a.btn_blue:hover .btnB_LOGIN { background-position: -6px -99px; }

a.btn_grey .btn_L, .btn_grey .btn_R { /* height: 28px; width: 12px; float: left; background-image: url(../images/btn_grey.gif); background-repeat: no-repeat; */ }
a.btn_grey:hover .btn_L { /* background-position: 0px -28px; */ }
a.btn_grey:hover .btn_R { /* background-position: -12px -28px; */ }
a.btn_grey .btn_M {
float: left;
}
a.btn_grey:hover .btn_M { /* background-position: bottom; */ }

a.btn_turquoise  .btn_L, .btn_turquoise .btn_R { height: 30px; width: 14px; float: left; background-image: url(../images/btn_blue.gif); background-repeat: no-repeat; }
a.btn_turquoise .btn_M { 
min-width: 50px;
height: 23px;
padding-top: 7px;
float: left;
background: url(../images/btn_blueM.gif) repeat-x top;
color: #FAFAFC;
font-size: 12px;
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 1px #f4f4f4;
text-decoration: none;
}

.btn_ok { width: 60px; height: 26px; margin: 20px auto; background: url(../images/btn_ok.gif) no-repeat top; }
a:hover .btn_ok  { background-position: bottom; }

/* leemeng 20160914 - use btn_search2 */
/* a .btn_search { width: 36px; height: 30px; background: url(../images/btn_search.gif) no-repeat top; */
/* display: inline-block; */
/*     float: right; */
/*     margin-bottom: -30px; */
/*     position: relative; */
/*     right: 0; */
/*     top: -30px; */
/*     z-index: 999; */
/* } */
/* a:hover .btn_search { background: url(../images/btn_search.gif) no-repeat 0 -30px; } */

a .btn_search, a .btn_search2 { width: 36px; height: 30px; background: url(../images/btn_search.png) no-repeat top;
display: inline-block;
    float: right;
    margin-bottom: -30px;
    position: relative;
    right: 0;
    top: -30px;
    z-index: 999;
}
a:hover .btn_search, a:hover .btn_search2 { background: url(../images/btn_search.png) no-repeat 3px -30px; }

a.btn_red .btn_L{height: 23px; width: 13px; float: left; background-image: url(../images/buttonleft.png); background-repeat: no-repeat; }
a.btn_red .btn_R{height: 23px; width: 13px; float: left; background-image: url(../images/buttonright.png); background-repeat: no-repeat; }
a.btn_red .btn_M{
min-width: 40px;
height: 23px;
float: left;
padding-top: 4px;
text-align: center;
background: url(../images/buttonmid.png) repeat-x ;
color: #FEFEFE;
font-size: 12px;
text-align: center;
text-decoration: none;
}
/* buttons */

#container { width: 100%; height: auto; min-height: 100%; position: relative; }
#container_other_link { width: 100%; height: auto; min-height: 100%; position: relative; background: url(../images/bgOtherLink.gif) repeat-x top #FFF; }
#container_top_banner { width: 100%; height: auto; min-height: 100%; position: relative; background: url(../images/bgTopBanner.gif) repeat-x top #FFF; }
#body_main { width: 1000px; margin: auto; padding-bottom: 80px; clear: both; }

#logo { height: 38px; }
#reflex { padding: 0px 10px; margin-bottom: 20px; float: left; }
#time { margin: 39px 16px 0px 0px; float: right; font-size: 11px; color: #252525; }

/* navigation */
#headernav_1 { border-left: 1px solid #696969; padding-left: 20px; }
#headernav_1, #headernav_2, #headernav_3 { margin: 10px; float: right; text-align: center; }
#headernav_1 a, #headernav_2 a, #headernav_3 a { color: #696969; text-decoration: none; }
#headernav_1 div, #headernav_2 div, #headernav_3 div { width: 28px; height: 28px; margin: auto; background: url(../images/icn_nav.png) no-repeat left; }
#headernav_2 div { background-position: -28px 0px; }
#headernav_3 div { background-position: -56px 0px; }


#nav { /*width: 830px;*/ float: right; margin: 10px 0px 30px 0px; }
#nav div { height: 39px; float: left; background-image: url(../images/nav.gif); background-repeat: no-repeat; }
#nav_1 { width: 49px; background-position: 0px 0px; }
#nav_2 { width: 174px; background-position: -49px 0px; }
#nav_3 { width: 91px; background-position: -223px 0px; }
#nav_4 { width: 97px; background-position: -314px 0px; }
#nav_5 { width: 174px; background-position: -411px 0px; }
#nav_6 { width: 180px; background-position: -585px 0px; }
#nav_7 { width: 65px; background-position: -765px 0px; }

a:hover #nav_1, .active #nav_1 { background-position: 0px -39px; }
a:hover #nav_2, .active #nav_2 { background-position: -49px -39px; }
a:hover #nav_3, .active #nav_3 { background-position: -223px -39px; }
a:hover #nav_4, .active #nav_4 { background-position: -314px -39px; }
a:hover #nav_5, .active #nav_5 { background-position: -411px -39px; }
a:hover #nav_6, .active #nav_6 { background-position: -585px -39px; }
a:hover #nav_7, .active #nav_7 { background-position: -765px -39px; }
/* navigation */

.input_info { /* padding: 6px 5px 5px 6px; _padding: 6px 5px 5px 6px; */ color: #4d4d4d;; font-weight: bold; font-size: 12px; }
.input_info2 { color: #4d4d4d;; font-weight: bold; font-size: 12px; }
.input_info3 { color: #4d4d4d;; font-weight: bold; font-size: 12px; }
.input_field { /* height: 14px; padding: 8px; margin-right: 10px; margin-bottom: 2px; background: url(../images/input_text.gif) repeat-x bottom; position: relative; */ }
.input_fieldL { /* padding-top: 6px;width: 10px; height: 30px; background: url(../images/input_textL.gif) no-repeat left bottom; position: absolute; top: 0px; left: -2px; */ }
.input_fieldR { /* padding: 7px; _padding-top: 13px;height: 16px; background: url(../images/input_textR.gif) no-repeat right bottom; position: absolute; top: 0px; right: -2px; */ }
.input_field:hover { /* background-position: left top; */ }
.input_field:hover .input_fieldL { /* background-position: left top; */ } 
.input_field:hover .input_fieldR { /* background-position: right top; */ } 
.input_field input { width: 100%; /* border: 0px; */ }

.input_fieldDate { /* width: 120px; height: 17px; padding-top: 5px; padding-bottom:8px; padding-left:8px; padding-right:8px; margin-right: 10px; margin-bottom: 2px; background: url(../images/input_text.gif) repeat-x bottom; position: relative; */ }
.input_fieldDateL { /* padding-top: 4px;width: 10px; height: 30px; background: url(../images/input_textL.gif) no-repeat left bottom; position: absolute; top: 0px; left: -2px; */ }
.input_fieldDateR { /* padding: 7px; _padding-top: 11px; height: 16px; background: url(../images/input_textR.gif) no-repeat right bottom; position: absolute; top: 0px; right: -2px; */ }
.input_fieldDate:hover { /* background-position: left top; */ }
.input_fieldDate:hover .input_fieldDateL { /* background-position: left top; */ } 
.input_fieldDate:hover .input_fieldDateR { /* background-position: right top; */ } 
.input_fieldDate input {/* padding-top:2px; width: 80%;border: 0px; */ }

/* tab */
.table_tab div{
background-color: #e3e3e3;
font-size: 13px; 
color: #828282;
border-bottom: 3px solid #b0b0b0;
padding-left: 15px;
padding-right: 30px;
padding-top: 7px;
padding-bottom: 5px;
}
.clsTabList{  }
.clsTabListOn div {
color: #ffffff;
background-color: #969696;
border-bottom: 3px solid #636363;
cursor: default;
pointer-events: none;
}
.table_tab div:hover {
color: #ffffff;
background-color: #969696;
border-bottom: 3px solid #636363;
cursor: pointer;
}

/* login */
#login { width: 270px; margin: -8px 14px 10px 0px; }
#loginHead { height: 56px; padding: 0px 10px; background: url(../images/loginport_bg.gif) no-repeat; }
#loginBody { height: 436px; padding: 15px 25px; background: url(../images/loginport_bg.gif) no-repeat 0px -56px; }
#verisign_links { margin-top: 8px; }
#verisign_links li { list-style: url(../images/bullet.gif) inside; font-size: 11px; }
#verisign_links a { color: #253084; line-height: 16px; }
#verisign_links a:hover { text-decoration: none; }
#logoutBody { height: 34px; padding: 15px 80px; background: url(../images/loginport_bg.gif) no-repeat bottom; }
#logout_mssg { width: 350px; height: 256px; padding: 40px; float: left; background: url(../images/slider_bg.gif) no-repeat; margin-right: 10px; }
#logout1 { font-size: 24px; font-weight: bold; color: #5f5f5f; margin-bottom: 20px; }
#logout2 { font-size: 11px; color: #666; }

#log_assist { width: 258px; height: 186px; padding: 15px 5px; margin-bottom: 10px; background: url(../images/assist_bg.gif) no-repeat; font-size: 11px; }
#log_assist div { padding: 5px 0px 10px 14px; }
#log_assist_title { padding: 10px; color: #0067b1; font-size: 14px; font-weight: bold; }
#log_assist #num { font-size: 18px; font-weight: bold; }
#log_divider { border-top: 1px solid #ddd; clear: both; }

#notice { width: 714px; height: 154px; margin-top: 22px; background: url(../images/alert_bgM.gif) repeat-x; }
#notice_content { width: 340px; padding: 10px; float: left; }
#notice_links { width: 156px; height: 80px; padding: 0px 0px 25px 15px; margin: 12px; float: left; border-left: 1px solid #dec45b; }
#notice_links a { font-size: 11px; color: #0077c3; text-decoration: underline; line-height: 20px; }
#notice_links a:hover { text-decoration: none; }
/* login */

.body_content { background-color: #fafafd; }
#main_content { /* float:left; */ }

.welcome {
padding: 10px 15px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 6px;
background-color: #ebebeb;
border: 1px solid #b2b2b2;
color: #5d5d5d;
}
.welcome div { padding: 10px 15px; margin: 5px 0px; background-color: #FFF; line-height: 20px; }

#latestNews { width: 480px; padding: 20px 10px 20px 0px; line-height: 20px; float: left; }
.latestNews_content { margin-top: 15px; }
.news_img { margin-right: 10px; float: left; position: relative; }
.news_imgNew { width: 32px; height: 18px; background: url(../images/icn_new.png) no-repeat; position: absolute; top: 4px; left: 2px; z-index: 1; }
.news_info { width: 360px; font-size: 11px; }
.latestNews_content .darkbold16 { margin-bottom: 4px; }

#sideport { width: 230px; margin: 30px 0px 0px 0px; float: right; }
.sideport_head { width: 230px; height: 39px; background: url(../images/homePort_head.gif) no-repeat; }
.sideport_icn { width: 49px; text-align: center; float: left; }
.sideport_title { padding: 12px; float: left; color: #333; font-size: 14px; font-weight: bold; text-shadow: 0px -1px #FFF; }
#sideport .darkbold { font-size: 14px; }
#sideport a { color: #244387; text-decoration: none; }
#sideport a:hover { text-decoration: underline; }

.table_listing { width: 100%; border: 1px solid #d7d7d7; background-color: #fafafd; border-collapse: separate!important; border-spacing: 0;
/* -webkit-border-top-left-radius: 5px; 
-moz-border-radius-topleft: 5px; 
border-top-left-radius: 5px; 
-webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px; 
-moz-border-radius-bottomleft: 5px; 
border-bottom-left-radius: 5px; 
-webkit-border-bottom-right-radius: 5px; 
-moz-border-radius-bottomright: 5px; 
border-bottom-right-radius: 5px; */
}
.table_listing.data { margin-bottom: 10px; }
.table_listing td { color: #464646; border-left: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7; padding: 9px ;font-size: 12px; vertical-align: top; }
.table_listing td:first-child { border-left: 0!important; }
/* .table_listing tr:first-child td + td { border-top: 12px solid red; background-color: red; } */
.table_listing tr:first-child td { border-top: 0; }
.table_listing tr:nth-child(2) td { border-top: 0; }
.table_listing tr:last-child td:first-child {
-webkit-border-bottom-left-radius: 5px; 
-moz-border-radius-bottomleft: 5px; 
border-bottom-left-radius: 5px; 
}
.table_listing tr:last-child td:last-child {
-webkit-border-bottom-right-radius: 5px; 
-moz-border-radius-bottomright: 5px; 
border-bottom-right-radius: 5px;
}




.table_listing2 {
border-collapse: separate!important;
width: 100%;
background-color: #ffffff;
border-left: 1px solid #d7d7d7;
border-right: 1px solid #d7d7d7;
border-bottom: 1px solid #d7d7d7;
/* -webkit-border-bottom-left-radius: 5px; 
-moz-border-radius-bottomleft: 5px; 
border-bottom-left-radius: 5px; 
-webkit-border-bottom-right-radius: 5px; 
-moz-border-radius-bottomright: 5px; 
border-bottom-right-radius: 5px; */
margin-bottom: 20px;
}
.table_listing2.inquiry td,
.inquiry td  {
padding-left: 0!important;
padding-top: 10px!important;
padding-right: 5px!important;
padding-bottom: 10px!important;
vertical-align: top;
}
.inquiry.tabledata td {
padding-left: 0!important;
padding-top: 0px!important;
padding-right: 5px!important;
padding-bottom: 10px!important;
vertical-align: top;
}
.entry.tabledata td {
padding-left: 0!important;
padding-top: 0px!important;
padding-right: 5px!important;
padding-bottom: 20px!important;
vertical-align: top;
}
.entry.tabledata.details .input_label span {
font-size: 12px;
font-weight: normal;
}
.entry.tabledata.details .fld_group .input_label {
margin-bottom: 2px;
}
.entry.tabledata.details .input_value span {
font-size: 14px;
font-weight: bold;
line-height: 17px;
}

.entry.tabledata .scn_div_input_dd {
margin-top: 0;
}
.entry .fld_group .input_label span {
font-weight: bold;
}
.entry .fld_group .input_label {
margin-bottom: 5px;
}
.entry .fld_group .input_value span {
font-weight: normal;
}

.table_listing2.inquiry .input_label,
.inquiry .input_label {
margin-bottom: 5px;
}
.table_listing2.inquiry .input_label span,
.inquiry .input_label span {
font-size: 13px;
font-weight: bold;
color: #464646;
}
.input_value.radio {
vertical-align: top;
}

.table_listing2 td {  padding: 12px ;font-size: 12px; color: #464646; }
.table_listing3 { width: 100%; border: 1px solid #c5c5c5; color: #666; }
.table_listing3 td {  padding: 12px ;font-size: 12px; color: #464646; }

.tableTR_dark td { background-color: #f3f3f9; /* border: 1px solid #c5c5c5 */}

.table_head1, .table_head2 {
background-image: url(../images/header_blue.png);
height: 30px;
/* -webkit-border-top-left-radius: 5px; 
-moz-border-radius-topleft: 5px; 
border-top-left-radius: 5px; 
-webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px;  */
border-bottom: 3px solid #037cac;
}
.table_head2.tab,
.table_head2.tab .tableH_M  {
/* -webkit-border-top-left-radius: 0; 
-moz-border-radius-topleft: 0; 
border-top-left-radius: 0; 
-webkit-border-top-right-radius: 0; 
-moz-border-radius-topright: 0; 
border-top-right-radius: 0; 
-webkit-border-top-left-radius: 0; 
-moz-border-radius-topleft: 0; 
border-top-left-radius: 0; 
-webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px;  */
}
.tableH_M span { font-size: 13px; }
.tableH_M span a{ color: #00497e; }
.table_head1.inquiry {
/* background-image: url(../images/header_blue_inquiry.png); */
background-image: url(../images/header_blue.png);
height: 30px;
/* -webkit-border-top-left-radius: 5px; 
-moz-border-radius-topleft: 5px; 
border-top-left-radius: 5px; 
-webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px;  */
/* border-right: 1px solid #e7e7e7; */
border-bottom: 3px solid #037cac;
}
.table_head1.inquiry .tableH_M {
float: left;
font-size: 14px;
line-height: 20px;
font-weight: normal;
color: #ffffff;
background-color: #0294cd;
/* border-top: 1px solid #e7e7e7;
border-left: 1px solid #e7e7e7; */
border-bottom: 3px solid #037cac;
padding-top: 5px;
padding-bottom: 4px;
padding-left: 17px;
padding-right: 17px;
/* -webkit-border-top-left-radius: 5px; 
-moz-border-radius-topleft: 5px; 
border-top-left-radius: 5px; 
-webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px;  */
}
.table_head1.inquiry .tableH_R {
background-image: none;
}
.tableH_M { 
float: left;
font-size: 13px;
line-height: 20px;
font-weight: normal;
color: #ffffff;
background-color: #0294cd;
/* border-top: 1px solid #e7e7e7; */
padding-top: 5px;
padding-bottom: 4px;
padding-left: 17px;
padding-right: 17px;
/* -webkit-border-top-left-radius: 5px; 
-moz-border-radius-topleft: 5px; 
border-top-left-radius: 5px;  */
/* -webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px;  */
/* border-bottom: 3px solid #037cac; */
}
.tableH_L { 
}
.tableH_R{ 
}
.table_head1 .tableH_L  {  }
.table_head1 .tableH_R  { background-image: url(../images/icn-accordion-up.png); width: 15px; height: 8px; cursor: pointer; float: right; margin-top: 12px; margin-right: 12px; }
.table_head1.no-accordian .tableH_R , .table_head2.no-accordian .tableH_R{ background-image: none; }

.table_head2 .tableH_L  {  }
.table_head2 .tableH_R  { background-image: url(../images/icn-accordion-up.png); width: 15px; height: 8px; cursor: pointer; float: right; margin-top: 12px; margin-right: 12px; }
.table_head3 {font-size: 16px; font-weight: bold; color: #424242; text-shadow: 1px 1px #e4eaee; height: 54px; background: url(../images/table_headerbgM.gif) repeat-x; }

.table_head1_reg, .table_head2_reg { height: 40px; background: url(../images/table_headerbgM.gif) repeat-x; margin-left: 300px; margin-right: 300px; resize: none;}
.tableH_M_reg { float: left; padding: 8px; font-size: 15px; font-weight: bold; color: #424242; }
.tableH_L_reg, .tableH_R_reg { width: 10px; height: 40px; background-image: url(../images/table_headerbg.gif); background-repeat: no-repeat; }
.table_head1_reg .tableH_L_reg { background-position: left top; float: left; }
.table_head1_reg .tableH_R_reg  { background-position: right top; float: right; }

.tableTitle { /* color: #4d4d4d; height: 20px; background-color: #e2e2e2; font-weight: bold; */ }

.tableTitle td {
color: #464646;
font-weight: bold;
background-color: #d7d7d7;
/* border-bottom: 3px solid #41aec9;
border-left: 1px solid #cbcbcb; */
}
.tableTitle td:first-child {
border-left: 0;
}

.tableTitle.data td {
color: #00497e;
font-weight: normal;
background-color: #6acde5;
border-bottom: 0;
border-left: 1px solid #e2e2e2;
}
.tableTitle.data td:first-child {
border-left: 0;
-webkit-border-top-left-radius: 5px; 
-moz-border-radius-topleft: 5px; 
border-top-left-radius: 5px; 
}
.tableTitle.data td:last-child {
-webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px; 
}
.tableTitle.data_cont td {
color: #00497e;
font-weight: normal;
background-color: #6acde5;
border-bottom: 0;
border-left: 1px solid #e2e2e2;
}
.tableTitle.data_cont td:first-child {
-webkit-border-top-left-radius: 0; 
-moz-border-radius-topleft: 0; 
border-top-left-radius: 0; 
}
.tableTitle.data td:last-child {
-webkit-border-top-right-radius: 0; 
-moz-border-radius-topright: 0; 
border-top-right-radius: 0; 
}
.tableTitle2 { /* height: 45px; background: url(../images/table_titleBG2.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5 */}
.tableTitle2 td {
color: #464646;
font-weight: bold;
background-color: #d7d7d7;
/* border-bottom: 3px solid #41aec9;
border-left: 1px solid #cbcbcb; */
}
.tableTitle2 td:first-child {
border-left: 0;
}

.tableTitle3 { /* height: 35px; background: url(../images/table_titleBG4.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5 */}
.tableTitle3 td {
color: #4d4d4d;
font-weight: bold;
background-color: #d7d7d7;
/* border-bottom: 3px solid #41aec9;
border-left: 1px solid #cbcbcb; */
}
.tableTitle3 td:first-child {
border-left: 0;
}
.tableTitle4 { height: 90px; background: url(../images/table_titleBG3.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5}
.tableTitle5 { height: 120px; background: url(../images/table_titleBG5.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5}
.tableTitleBackground { background: url(../images/table_titleBG3.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; }
.table_total { text-align: center; font-size: 16px; font-weight: bold; text-shadow: 1px 1px #FFF; }
.table_totalSum.table_listing2 {  background-color: #c5dde3;  }
.table_totalSum.table_listing2 td { text-align: right; font-size: 12px; color: #464646; font-weight: bold; /* border-top: 3px solid #119abc; */}
.table_totalSum.table_listing2 td:first-child { text-align: left; }
.table_content { padding: 18px; border: 1px solid #d7d7d7; color: #464646; background-color: #ffffff; margin-bottom: 10px;

/* -webkit-border-bottom-left-radius: 5px; 
-moz-border-radius-bottomleft: 5px; 
border-bottom-left-radius: 5px; 
-webkit-border-bottom-right-radius: 5px; 
-moz-border-radius-bottomright: 5px; 
border-bottom-right-radius: 5px; */ 

}
/* .table_content td { padding-bottom: 5px; } */

.table_content_reg{  border: 1px solid #c5c5c5; margin-left: 300px; margin-right: 300px; color: #666; }

.table_content .input_field { /* width: 50%; */ } 

.tableBtm { /* padding: 5px; margin-bottom: 15px; border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; background: url(../images/table_btmM.gif) repeat-x bottom; position: relative; */ }
.tableBtm_L { /* width: 8px; height: 8px; background: url(../images/table_btm.gif) no-repeat left; position: absolute; bottom: 0px; left: -1px; */ }
.tableBtm_R { /* width: 8px; height: 8px; background: url(../images/table_btm.gif) no-repeat right; position: absolute; bottom: 0px; right: -1px; */ }

.tableBtm2 { padding: 5px; margin-bottom: 3px; background: url(../images/table_btmM.gif) repeat-x bottom; position: relative; }
.tableBtm_L2 { width: 8px; height: 8px; background: url(../images/table_btm2.gif) no-repeat left; position: absolute; bottom: -4px; left: 0px; }
.tableBtm_R2 { width: 8px; height: 8px; background: url(../images/table_btm2.gif) no-repeat right; position: absolute; bottom: -4px; right: 0px; }

.tableBtm3 { padding: 5px; margin-bottom: 15px; border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; background: url(../images/table_btmM.gif) repeat-x bottom; position: relative;}


/* Form Element */
.fld_group { padding-right: 10px; }
.input_value_radio, .input_value_checkbox { display: inline-block; vertical-align: top; }
.input_value_label { display: inline-block; margin-left: 2px; margin-right: 5px; vertical-align: top; margin-top: 2px;}
.input_value_datepicker { display: inline-block; width: 48%;}
.input_value.datepicker { width: 100% }
.input_value_datepicker:first-child { margin-right: 5px; }

.input_value_datepicker .input_fieldDate input { padding-right: 40px; }
.input_fieldDate input { padding-right: 40px; }

.input_value_picklist { display: inline-block; width: 48%;}
.input_value.picklist { width: 100% }
.input_value_picklist:first-child { margin-right: 5px; }

.input_field.picklist input { padding-right: 40px; }

.input_field_sidebutton { display: inline-block; width: 48%; margin: 0 auto; vertical-align: top;}
.inquiry .input_field_sidebutton a.btn_grey div { margin-top: 0; }

.input_value_sidebutton { display: inline-block; margin: 0 auto; vertical-align: top; width: 216px; }
.input_value_sidebutton:nth-child(2n+0) {  }
.input_value_sidebutton span.select { min-width: 99%; }

input, select, textarea, span.select { 
color: #4d4d4d;
margin:0; 
padding:0;
outline:none;
/* -webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px; 
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px; */
border: 1px solid #d7d7d7;
background-color: #fafafd;
}
select, span.select {
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
appearance:none;
}
input:hover, textarea:hover { 
border: 1px solid #ffc600;
}
.input_fieldDate:hover input,
.input_value_picklist input:hover,
.input_field.picklist input:hover,
.input_fieldDate:focus input,
.input_value_picklist input:focus,
.input_field.picklist input:focus,
textarea.disabled:hover {
border: 1px solid #d3d3d3;
}
.input_field input:focus,
.input_field_sidebutton input:focus,
textarea:focus { 
border: 1px solid #3399ff;
}
.input_fieldDate:focus span {
background:url("../images/icn_calendar.gif") no-repeat 0 -60px;
}
.input_field.picklist.error input,
.input_field.picklist.error input:focus,
.input_fieldDate.error input,
.scn_div_input_dd.error span,
.input_field.error input,
.input_value_picklist.error input,
.input_value_picklist.error input:hover,
textarea.error{
border: 1px solid #ff0000!important;
}
.btn_search.error {
background:url("../images/btn_search.gif") no-repeat 0 -60px;
}
.btn_search.error:hover {
background:url("../images/btn_search.gif") no-repeat 0 -90px;
}
.input_fieldDate.error span {
background:url("../images/icn_calendar.gif") no-repeat 0 -60px;
}
.input_fieldDate.error span:hover {
background:url("../images/icn_calendar.gif") no-repeat 0 -90px;
}
input {
height: 30px;
padding-left: 10px;
padding-right: 10px;
width: 100%;
display: block;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
input[type=text]::-ms-clear {
display: none;
}
input[type=radio],
input[type=checkbox] {
border: none;
width: auto!important;
height: auto!important;
margin: 0;
padding: 0;
}
select.scn_input_dd {
width: 100%;
height: 30px;
margin-bottom: 0;
margin-right: -10px;
opacity: 0;
position: relative;
z-index: 10;
}
span.select {
font-size: 12px;
color: #4d4d4d;
background: #fafafd url("../images/icn-droplist.png") no-repeat scroll right top;
border: 1px solid #d7d7d7;
float: left;
height: 28px;
left: 0;
line-height: 28px;
text-indent: 10px;
min-width: 99.5%;
overflow: hidden;
position: absolute;
z-index: 1;
/* padding-right: 18px; */
}
select option {
color: #4d4d4d;
padding: 4px;
}
/* span.select.disabled {
background: #f6f6f6 url("../img/common/icn-droplist-disabled.png") no-repeat scroll right top;
color: #acacac;
} */
.scn_div_input_dd {
height: 30px;
margin-top: 5px;
position: relative;
}
.input_field_sidebutton .scn_div_input_dd {
height: 30px;
margin-top: 0;
margin-right: 3px;
position: relative;
}
.icn-datepicker {
background: url("../images/icn_calendar.gif") no-repeat;
display: inline-block;
float: right;
height: 30px;
position: relative;
right: 0px;
top: -30px;
width: 36px;
z-index: 1;
cursor: pointer;
margin-bottom: -30px;
}
.icn-datepicker:hover {
background: url("../images/icn_calendar.gif") no-repeat 0 -30px;
}
.inquiry  a.btn_grey div { margin-top: 19px; }
.inquiry a.btn_grey .btn_L, .inquiry a.btn_grey .btn_R { display: none; }
.inquiry a.btn_grey .btn_M {
background: none;
color: #464646;
font-size: 13px;
font-weight: normal;
text-shadow: none;
background-color: #e1e1e1;
border: 1px solid #d7d7d7;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
padding-left: 20px;
padding-right: 20px;
height: 28px;
line-height: 28px;
padding-top: 0;
}
.inquiry a.btn_grey .btn_M:hover {
background-color: #c5c5c5;
border: 1px solid #d3d3d3;
}
.entry.tabledata a.btn_grey .btn_L, .inquiry a.btn_grey .btn_R { display: none; }
.entry.tabledata a.btn_grey .btn_M {
background: none;
color: #464646;
font-size: 12px;
font-weight: normal;
text-shadow: none;
background-color: #e1e1e1;
border: 1px solid #d7d7d7;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
padding-left: 20px;
padding-right: 20px;
height: 28px;
line-height: 28px;
padding-top: 0;
}
.entry.tabledata a.btn_grey .btn_M:hover {
background-color: #c5c5c5;
border: 1px solid #d3d3d3;
}

.table_listing a.btn_grey .btn_L, .inquiry a.btn_grey .btn_R { display: none; }
.table_listing a.btn_grey .btn_M {
background: none;
color: #464646;
font-size: 12px;
font-weight: normal;
text-shadow: none;
background-color: #e1e1e1;
border: 1px solid #d7d7d7;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
padding-left: 20px;
padding-right: 20px;
height: 28px;
line-height: 28px;
padding-top: 0;
white-space: nowrap;
}
.table_listing a.btn_grey .btn_M:hover {
background-color: #c5c5c5;
border: 1px solid #d3d3d3;
}

#paginantion  a.btn_grey div {  }
#paginantion a.btn_grey .btn_L, #paginantion a.btn_grey .btn_R { display: none; }
#paginantion a.btn_grey .btn_M {
background: none;
color: #464646;
font-size: 12px;
font-weight: normal;
text-shadow: none;
background-color: #e1e1e1;
border: 1px solid #d7d7d7;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
padding-left: 20px;
padding-right: 20px;
height: 28px;
line-height: 28px;
padding-top: 0;
}
#paginantion a.btn_grey .btn_M:hover {
background-color: #c5c5c5;
border: 1px solid #d3d3d3;
}

.input_field.disabled input,
.input_fieldDate.disabled input,
.input_field.disabled picklist,
.select.disabled {
cursor: default;
pointer-events: none;
background-color: #ebebe4;
color: #a9a9a9;
}
.input_fieldDate.disabled span {
background: url("../images/icn_calendar.gif") no-repeat bottom;
cursor: default;
pointer-events: none;
}
span.select.disabled {
background: url("../images/icn-droplist.png") no-repeat scroll right bottom;
cursor: default;
pointer-events: none;
background-color: #ebebe4;
color: #a9a9a9;
}
.btn_search.disabled {
background: url("../images/btn_search.gif") no-repeat bottom;
cursor: default;
pointer-events: none;
}
.btn.disabled ,
.btn_grey.disabled {
cursor: default;
pointer-events: none;
}
.btn_grey.disabled div.btn_M  {
background-color: #ebebe4;
border: 1px solid #ebebe4; 
color: #a9a9a9;
}
.input_value_label.disabled,
.input_label.disabled span {
color: #a9a9a9!important;
margin-top: 0;
}
.btn_grey.disabled div.btn_M:hover {
background-color: #ebebe4;
border: 1px solid #ebebe4; 
color: #a9a9a9;
}
.btn_gray { text-decoration: none; }
#paginantion { float: right; width: 100%; display: block; }
#paginantion a { float: right; }
#paginantion .pagination_label { float: right; padding-left: 5px; padding-right: 10px; }
#paginantion .pagination_label div { float: right; line-height: 30px; font-weight: bold; padding-left: 5px; }
#paginantion input { text-align: center; width: 55px; float: right; }

#btm_btn { width: 100%; }
#btm_btn  a { float: right; }
a.btn_primary .btn_M  {
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
background-color: #255768;
color: #ffffff;
font-size: 14px;
margin-left: 15px;
text-align: center;
text-decoration: none;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
}
a.btn_primary .btn_M:hover {
font-size: 14px;
background-color: #38839c;
}
a.btn_secondary .btn_M  {
color: #005aac;
font-size: 14px;
line-height: 34px;
margin-left: 15px;
text-align: center;
text-decoration: underline;
}
#btm_btn .scn_div_input_dd {
/* width: 200px; */
/* margin-top: 0;
float: right; */
}

textarea {
font-size: 12px;
color: #4d4d4d;
font-family: Helvetica, Arial, sans-serif;
background-color: #fafafd;
padding:10px;
border: 1px solid #d7d7d7;
width: 94%;
-webkit-appearance: none;
/* Safari 3-4, iOS 1-3.2, Android 1.6- */
/* -webkit-border-radius: 3px;  */
/* Firefox 1-3.6 */
/* -moz-border-radius: 3px;    */
/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
/* border-radius: 3px; */
margin-top: 5px;
}
textarea.disabled {background-color: #ebebe4; color: #a9a9a9; resize: none;}

	.custom-radio{
		width: 16px;
		height: 16px;
		display: inline-block;
		position: relative;
		z-index: 1;
		top: 0;
		background: url("../images/radio.png") no-repeat;
	}
	.custom-radio:hover{            
		background: url("../images/radio-hover.png") no-repeat;
	}
	.custom-radio.selected{
		background: url("../images/radio-selected.png") no-repeat;
	}
	.disabled .custom-radio.selected{
		background: url("../images/radio-selected-disabled.png") no-repeat;
	}
	.custom-radio input[type="radio"]{
		margin: 1px;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}
	


.custom-checkbox{
width: 16px;
height: 16px;
display: inline-block;
position: relative;
z-index: 1;
top: 0;
background: url("../images/checkbox.png") no-repeat;
}
.custom-checkbox:hover{
background: url("../images/checkbox-hover.png") no-repeat;
}
.custom-checkbox.selected{
background: url("../images/checkbox-selected.png") no-repeat;
}
.disabled .custom-checkbox.selected{
background: url("../images/checkbox-selected-disabled.png") no-repeat;
}
.custom-checkbox input[type="checkbox"]{
margin: 0;
position: absolute;
z-index: 2;            
cursor: pointer;
outline: none;
opacity: 0;
/* CSS hacks for older browsers */
_noFocusLine: expression(this.hideFocus=true); 
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-khtml-opacity: 0;
-moz-opacity: 0;
}
.input_value_checkbox.disabled span,
.input_value_radio.disabled span  {
cursor: default;
pointer-events: none;
}

.input_value_radio.disabled span.custom-radio { background:url(../images/radio-disabled.png) no-repeat; }
.input_value_radio.disabled span.custom-radio.selected { background:url(../images/radio-selected-disabled.png) no-repeat; }
.input_value_checkbox.disabled span.custom-checkbox { background:url(../images/checkbox-disabled.png) no-repeat; }
.input_value_checkbox.disabled span.custom-checkbox.selected { background:url(../images/checkbox-selected-disabled.png) no-repeat; }


.fld_group.rm span { display: inline-block; vertical-align: top; }
.fld_group.rm .input_field { display: inline-block; width: 91%; float: right; }

.fld_group.datefrom span, .fld_group.dateto span { display: inline-block; vertical-align: top; }
.fld_group.datefrom .input_fieldDate { display: inline-block; width: 85%; float: right; }
.fld_group.dateto .input_fieldDate { display: inline-block; width: 90%; float: right; }

.textPlusinput span { vertical-align: top; line-height: 28px; }
.textPlusinput .fld_group { display: inline-block; margin-left: 10px; }
.inquiry a.btn_grey.nomargin div { margin-top: 0; }

.listing_selectAll td { background-color: #ffffff; border-left: 0; }
/* Form Element */

.mssg_instruct {
font-size : 12px;
color: #4d4d4d;
padding: 20px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 20px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
background-color: #fffcdb;
border: 2px solid #ffeb44;
}
.mssg_instruct .label {
font-weight: bold;
}
.mssg_instruct.success {
font-size: 12px;
color: #4d4d4d;
padding-top: 20px;
background-color: #d4fadc;
border: 2px solid #5fc571;
margin-bottom: 20px;
}
.mssg_instruct.success .icon {
background: url("../images/icn-success.png") no-repeat;
width: 49px;
height: 50px;
display: block;
float: left;
margin-bottom: 10px;
margin-right: 10px;
}
.mssg_instruct.success .label {
font-size: 20px;
color: #2ab141;
font-weight: bold;
}
.mssg_instruct.partially {
font-size: 12px;
color: #4d4d4d;
padding-top: 20px;
background-color: #cae5ff;
border: 2px solid #41a4f7;
margin-bottom: 20px;
}
.mssg_instruct.partially .icon {
background: url("../images/icn-partially.png") no-repeat;
width: 39px;
height: 50px;
display: block;
float: left;
margin-bottom: 10px;
margin-right: 10px;
}
.mssg_instruct.partially .label {
font-size: 20px;
color: #0093ff;
font-weight: bold;
}
.mssg_instruct.unsuccess {
font-size: 12px;
color: #4d4d4d;
padding-top: 20px;
background-color: #fee0fa;
border: 2px solid #ff6043;
margin-bottom: 20px;
}
.mssg_instruct.unsuccess .icon {
background: url("../images/icn-unsuccess.png") no-repeat;
width: 49px;
height: 50px;
display: block;
float: left;
margin-bottom: 10px;
margin-right: 10px;
}
.mssg_instruct.unsuccess .label {
font-size: 20px;
color: #ff2a00;
font-weight: bold;
}

.mssg_note span{
font-size: 11px;
font-style: italic;
}
#footer { height: 31px; background: url(../images/footerbg.gif) repeat-x #FFF; width: 100%; position: absolute; bottom: 0px; }
#footer ul { width: 1000px; margin: auto; padding-top: 8px; text-align: center; }
#footer ul li { padding: 0px 20px 0px 12px; margin-left: 20px; background: url(../images/bullet_footer.gif) no-repeat left 5px; display: inline; }
#footer a { font-size: 10px; color: #6f7173; text-decoration: none; } 
#footer a:hover { color: #3a3a3a; }

	
.header_highlight{ background-position: top; }

.clsErrorMsg
{
	font-size : 11pt;
	font-weight : bold;
	font-family : Arial;
	color : red;
}

input, select {
font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.disclaimer { padding: 10px; color: #A9A9A9;}

/* Sorting start */
.clsTblCtrlSortAsc {
background: rgba(0, 0, 0, 0) url("../images/icn_arrowup.gif") no-repeat scroll right center;
}
.clsTblCtrlSortDesc {
background: rgba(0, 0, 0, 0) url("../images/icn_arrowdown.gif") no-repeat scroll right center;
}
.clsTblCtrlSortNeutral {
background: rgba(0, 0, 0, 0) url("../images/icn_arrowneutral.gif") no-repeat scroll right center;
}
.sorting {
padding-left: 10px;
float: right;
}
.sorting .space {
width: 10px;
height: 1px;
}
.sorting a {
display: block;
height: 13px;
outline: 0 none;
width: 23px;
}
/* Sorting end */

/* Icon start */
td.icn-transaction { width: 20px; }
.icn-transaction span {
background:url(../images/icn-transaction.png) no-repeat;
height: 15px;
display: block;
text-decoration: none;
}
td.icn-info { width: 20px; }
.icn-info span {
background:url(../images/icn-accountinfo.png) no-repeat;
height: 15px;
display: block;
text-decoration: none;
}
td.icn-edit { width: 20px; }
.icn-edit span {
background:url(../images/icn-edit.png) no-repeat;
height: 15px;
display: block;
text-decoration: none;
}
/* Icon end */

/* Table Listing Headser start */
table.table_listing_index { margin-bottom: 20px; }
table.table_listing_index thead tr th{ font-size: 13px; color: #ffffff; line-height: 20px; padding: 5px 17px 4px; background-color: #005bac; }
table.table_listing_index td { border: 1px solid #d7d7d7; padding: 9px; vertical-align: top; }
/* Table Listing Headser end */

/* Download Button start 
#Download {
background:#255768 url(../images/icn-download.png) no-repeat right;
padding-right: 30px;
}
#Download:hover {
background-color:#38839c;
}
#itemlist { position: absolute; margin-top: 33px; z-index: 10; }
.downloadListing ul { list-style-type: none; margin: 0; padding: 0; background-color: #ffffff; }
.downloadListing li  {
width: 91px;
background-color: #ffffff;
color: #464646;
padding: 6px 8px;
text-decoration: none;
border: 1px solid #d7d7d7;
}
.downloadListing li:first-child  {
border-bottom: 0;
}
.downloadListing li:hover {
background-color: #38839c;
color: #ffffff;
}
 Download Button end */

/* Download Button 2 start */
.fld_group.download { margin: 0; padding: 0; float: right; }
.fld_group.download select.scn_input_dd {
height: 35px;
margin-bottom: 0;
margin-right: 0;
margin-left: 15px;
opacity: 0;
position: absolute;
width: 118px;
z-index: 10;
}
.fld_group.download .scn_div_input_dd {
margin: 0;
padding: 0;
width: 134px;
height: 35px;
}
.fld_group.download .scn_div_input_dd span.select {
background: #255768 url("../images/icn-download.png") no-repeat scroll right center;
min-width: 0%;
height: 35px;
line-height: 35px;
padding-left: 10px;
padding-right: 35px;
border-radius: 3px;
color: #ffffff;
font-size: 14px;
margin-left: 15px;
text-align: center;
text-decoration: none;
}
.fld_group.download .scn_div_input_dd option {
padding: 5px;
}
/* Download Button 2 end */

/* 20160817 leemeng - Static Payment Link */
.base{
	position:relative;
	left:-10px;
}
.static-payment-link{
	position: relative;
	top: -165px;
}

/* History */
.history-icon {
height: 40px;
border: 1px solid #d7d7d7;
background-color: #ffffff;
padding: 10px;
float: left;
}
.history-icon span {
background:url(../images/icn-history.png); width: 23px; height: 23px;
display: inline-block;
margin-top: 10px;
}
.history-links {
height: 40px;
float: left;
border: 1px solid #d7d7d7;
background-color: #ffffff;
padding: 10px;
border-left: 0;
}
.history-links li a {
color: #005aac;
font-size: 14px;
line-height: 20px;
text-decoration: underline; 
}
/* History */


/* Comparison Table */

.table_listing.four-columns .tableTitle td+td,
.table_listing.three-columns .tableTitle td+td,
.table_listing.two-columns .tableTitle td  { 
background-color: #f2e2b6;
}
.table_listing.four-columns .tableTitle td+td+td,
.table_listing.three-columns .tableTitle td+td+td,
.table_listing.two-columns .tableTitle td+td {
background-color: #c3dce6;
}
.table_listing.four-columns td+td+td,
.table_listing.three-columns td+td,
.table_listing.two-columns td {
background-color: #fbf6eb;
}
.table_listing.four-columns td+td+td+td,
.table_listing.three-columns td+td+td,
.table_listing.two-columns td+td {
background-color: #f1f4fe;
}
.table_listing.four-columns .tableTR_dark td+td+td,
.table_listing.three-columns .tableTR_dark td+td,
.table_listing.two-columns .tableTR_dark td {
background-color: #f4eedf;
}
.table_listing.four-columns .tableTR_dark td+td+td+td,
.table_listing.three-columns .tableTR_dark td+td+td,
.table_listing.two-columns .tableTR_dark td+td {
background-color: #e3edf5;
}



.tableTitle.subhead td {
color: #ffffff; background-color: #91a9c5; border-bottom: 0; border-right: 0;
}
.table_listing.three-columns.icon td+td {
/* text-align: center; */
}
/* Comparison Table */

.table_listing_noheader {
background-color: #fafafd;
border: 1px solid #d7d7d7;
border-collapse: separate !important;
border-spacing: 0;
width: 100%;
}
.table_listing_noheader td {
    border-left: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    color: #464646;
    font-size: 12px;
    padding: 9px;
    vertical-align: top;
}
.table_listing_noheader tr:first-child td { border-top: 0; }
.table_listing_noheader td:first-child { border-left: 0; }

/* Listing Table Scroll Horizontal */
.listing_scroll_horizotal { height: 100%; overflow-x: auto; overflow-y: hidden; padding: 0; margin: 0; width: 901px;  position: relative; }
.listing_scroll_horizotal table { position: relative; }
/* Listing Table Scroll Horizontal */

/* Datepicker Combo */
.table_listing2.inquiry .datepicker-combo td,
.inquiry .datepicker-combo td,
.datepicker-combo td {
padding: 0!important;
}
.table_listing2.inquiry
.datepicker-combo td .scn_div_input_dd ,
.inquiry .datepicker-combo td .scn_div_input_dd,
.datepicker-combo td .scn_div_input_dd {
margin-top: 0; 
margin-right: 5px;
}
/* Datepicker Combo */

/* Host Return Code */
.hostReturn { text-align: left; margin-left: 5px; margin-right: 5px; margin-bottom: 10px; }
/* Host Return Code */

/* Corporate Billing Structure Setup start */
.table_listing.clear_spacing td {  }
.table_listing.clear_spacing .scn_div_input_dd { margin-top: 0; }
.table_listing.clear_spacing input:hover { border: 1px solid #d7d7d7; }
.table_listing.clear_spacing .datepicker-combo td { border: 0; }
.table_listing.clear_spacing .input_value_radio,
.table_listing.clear_spacing .input_value_checkbox { padding-bottom: 6px; }
.table_listing.clear_spacing .radio_label, .checkbox_label { display: block; margin-top: 1px; }
.table_listing.clear_spacing .clsSubHeader.main a { color: #464646; text-decoration: underline; }
.table_listing.clear_spacing .clsSubHeader.main a:hover { text-decoration: none; }
.table_listing.clear_spacing .caption { font-size: 11px; font-style: italic; }
.table_listing.clear_spacing td { background-color: #ffffff; }
.table_listing.clear_spacing .clsSubHeader.main { background-color: #b8b8b8; text-transform: uppercase; }
.table_listing.clear_spacing .tableTitle td { background-color: #d7d7d7; }
.tableTitle td { text-align: left; }
.inner-table td { padding: 0; border: 0; }
span.delete {
background:url(../images/btn_delete.gif) no-repeat top;
width: 30px;
height: 30px;
display: block;
margin-left: 3px;
}
span.delete:hover { background-position: bottom; cursor: pointer; }
/* leemeng 20161220 because textbox not margin top 5px
.entry.tabledata.details .custom-checkbox,
.entry.tabledata.details .scn_div_input_dd,
.entry.tabledata.details .inner-table { margin-top: 5px; }*/
.entry.tabledata.details .inner-table td { padding: 0 !important; }

/* Corporate Billing Structure Setup end */
/*andryan [20170407] ~ Tooltips- NTBS Addendum start */
.tooltips{margin-left: 50px; position: absolute; width: 400px;}
.tooltips-icn { background:url(../images/icn-note.png) no-repeat; width: 12px; height: 12px; float: right; margin-top: 3px; cursor: pointer; }
#tooltips-content {background-color: #ffffff; border: 1px solid #e1e1e1;display: none; margin-top: 32px; padding: 10px; position: absolute; right: 0;width: 350px;z-index: 10;text-align: justify}
/*andryan [20170407] ~Tooltips- NTBS Addendum end */