@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,blockquote,input { margin:0; padding:0; }
table { border-collapse: collapse; font-size: inherit; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
a { cursor: pointer; color: #005bac; } 

html { height: 100%; }
body { height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #464646; background:url(../images/back.png) repeat-y center; }

/* reflex specific start*/
#logo { height: 38px; }
#reflex { padding: 0px 10px; margin-bottom: 20px; float: left; }
#time { margin: 39px 16px 0px 0px; float: right; font-size: 11px; color: #252525; }

/* navigation */
#headernav_1 { border-left: 1px solid #696969; padding-left: 20px; }
#headernav_1, #headernav_2, #headernav_3 { margin: 10px; float: right; text-align: center; }
#headernav_1 a, #headernav_2 a, #headernav_3 a { color: #696969; text-decoration: none; }
#headernav_1 div, #headernav_2 div, #headernav_3 div { width: 28px; height: 28px; margin: auto; background: url(../images/icn_nav.png) no-repeat left; }
#headernav_2 div { background-position: -28px 0px; }
#headernav_3 div { background-position: -56px 0px; }

/* reflex specific end*/

/* aesthetics */
.float_left { float: left; }
.float_right { float: right; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.padding_0 { padding: 0!important; }
.padding_5 { padding: 5px; }
.padding_10 { padding: 10px; }
.marginT_5 { margin-top: 5px; }
.marginT_10 { margin-top: 10px; }
.marginT_20 { margin-top: 20px; }
.marginB_20 { margin-bottom: 20px; }
.marginL_10 { margin-left: 10px; }
/* reflex specific start*/
.paddingL_10 { padding-left: 10px; }
.inlineblock { display: inline-block; }

/*added by asma for leftborder*/
#hasLeftBorder {border-left:1px solid #c5c5c5!important;}
#twoLevel {border-bottom: 1px solid #c5c5c5!important}

/* reflex specific end*/

.alignR { text-align: right; }
.widthP_20 { width: 20%; }
/* aesthetics */

/* text */
.bold { font-weight: bold; }
h1 { font-size: 20px; font-weight: normal; color: #4d4d4d; margin-bottom: 10px; }
h1 span { font-weight: normal; }
h2 { font-size: 30px; color: #f58b8e; margin-bottom: 4px; line-height: 34px; }
h3 { font-size: 18px; color: #0067b1; margin-bottom: 4px; line-height: 28px; }
h4 { font-size: 20px; color: #424242; margin-bottom: 4px; }
h5 { font-size: 20px; font-weight:bold; color: #CC0000; margin-bottom: 4px; }
.font11 { font-size: 11px; line-height: 13px; }
.asterisk { color: #F00; }
.clsAsterisk { color: #F00!important;}
.darkbold, .darkbold16 { color: #404040; font-weight: bold; }
/* text */



.first-level { width: 1000px; background-color: #024282; list-style-type: none; overflow: hidden; margin: 0; padding: 0; height: 45px; }
.first-level li { display: inline; float: left; }
.first-level li a span { padding: 15px; line-height: 45px;}
.first-level li a span:hover { color: #ffffff; }
.first-level li a { font-family: arial; font-size: 14px; color: #9ab3cd; text-decoration: none; }
.first-level li a span.home { background:url(../images/icn-home-n.png) no-repeat top; width: 14px; height: 14px; display: block; margin-top: 15px; padding-right: 0; padding-left: 20px; }
.first-level li a span.home:hover,
.first-level li a span.home-h{ background:url(../images/icn-home-h.png) no-repeat top; width: 14px; height: 14px; display: block; margin-top: 15px; padding-right: 0; padding-left: 20px; }



.second-level { width: 1000px; position: absolute; background-color: #ebebeb; background: url(../../../theme/general/images/black.png); list-style-type: none; margin: 0; padding: 0; height: 46px; left: 0; top: 45px;  left: 50%; margin-left: -500px; border: 1px solid #d7d7d7; margin-bottom: 1px; }
.second-level li { display: inline; float: left; }
.second-level li a span { font-size: 14px; padding: 14px; line-height: 45px; color: #464646; background-color: #ebebeb;  }
.second-level li a span:hover { color: #464646; background-color: #faf9fe; padding: 14px; line-height: 45px;  }
.second-level .arrow { background: url(../../../theme/general/images/arrow.png) no-repeat right top; background-color: #ebebeb; padding: 14px; }
.second-level li a { font-family: arial; font-size: 14px; color: #ffffff; text-decoration: none; }
.second-level li a span.arrow { padding-right: 28px; }

.third-level { width: 1000px; background-color: #faf9fe; border: 1px solid #d7d7d7; /* background: url(../../../theme/general/images/black.png); */ position: absolute; list-style-type: none; overflow: hidden; margin: 0; padding: 0; height: auto; left: -1px; }

/* Portlet Setting */
/* leemeng 20160822 reuse existing .first-level
.portlet-first-level { width: 1000px; background-color: #024282; list-style-type: none; overflow: hidden; margin: 0; padding: 0; height: 45px; }
.portlet-first-level li { display: inline; float: left; }
.portlet-first-level li a span { padding: 15px; line-height: 45px;}
.portlet-first-level li a span:hover { color: #ffffff; }
.portlet-first-level li a { font-family: arial; font-size: 14px; color: #9ab3cd; text-decoration: none; }
*/
.icn-select { float: left; padding-top: 10px; }
.icn-select span { background:url(../images/icn_select.png) no-repeat top; width: 30px; height: 30px; display: block; cursor: pointer; }
.icn-select span:hover { background:url(../images/icn_select.png) no-repeat 0 -30px; } 
/* Portlet Setting */

.table-details { width: 1000px; margin-top: 10px; margin-bottom: 10px; }
.table-details tr td { padding: 0; margin: 0; vertical-align: top; border-left: 1px solid #d7d7d7; }
.table-details tr td:first-child { border-left: 0; }
.table-details tr td p { background: url(../../../theme/general/images/arrow-s.png) no-repeat top left; font-family: arial; color: #464646; font-size: 12px; padding: 5px; padding-left: 15px; margin: 0; font-weight: bold; margin-left: 10px; margin-right: 10px; }
.table-details tr td a { text-decoration: none;}
.table-details tr td a p { margin: 0; font-weight: bold; margin-left: 10px; margin-right: 10px; }
.table-details tr td a p:hover { color: #005aac; }
.table-details .break a, .table-details .break { color: #464646; font-size: 11px; font-weight: normal;  line-height: 18px; padding-top: 2px; padding-bottom: 2px; }
.table-details .break a:hover { color: #005aac; padding-top: 2px; padding-bottom: 2px; }
.table-details .break .divider { padding-left: 5px; padding-right: 5px; }




#base { margin: 0; padding: 0; background-color: #ffffff; }
#header { background-color: #6fcee4; height: 87px; }
#header.landing { border-bottom: 2px solid #5ba4b7; }
#header .header_panel { width: 1000px; margin: 0 auto; }
@media screen and (max-width: 999px) {
                #header .header_panel { width: 95%; margin: 0 auto; }
}
#header .header_panel div.logo { display: inline-block; margin-top: 25px; }
#header .header_panel .logo span { background-image:url(../../../theme/general/images/logo-rhbreflex.png); width: 176px; height: 30px; display: block; }
#header .header_panel .logo-divider { background-color: #4a92a6; width: 1px; height: 25px; display: inline-block; vertical-align: top; margin-left: 15px; margin-right: 15px; margin-top: 32px;  }
#header .header_panel .type { display: inline-block; vertical-align: top; margin-top: 32px; }
#header .header_panel .type span { font-size: 18px; color: #255768; }
#header .user_panel { margin-top: 11px; float: right; }
#header .user_panel.landing { margin-top: 41px; float: right; }
#header .user_panel .usertype { float: left; }
#header .user_panel .usertype .usericon span { width: 43px; height: 43px; display: block; margin: 0 auto; }
#header .user_panel .usertype .usericon.superid span { background-image:url(../../../theme/general/images/icn-user-superid.png); }
#header .user_panel .usertype .usericon.multiroles span { background-image:url(../../../theme/general/images/icn-user-multiroles.png); }
#header .user_panel .usertype .usericon.authoriser span { background-image:url(../../../theme/general/images/icn-user-authoriser.png); }
#header .user_panel .usertype .usericon.dataentry span { background-image:url(../../../theme/general/images/icn-user-dataentry.png); }
#header .user_panel .usertype .usericon.reviewer span { background-image:url(../../../theme/general/images/icn-user-reviewer.png); }
#header .user_panel .usertype .usericon.inquirer span { background-image:url(../../../theme/general/images/icn-user-inquirer.png); }
#header .user_panel .usertype .username { background-color: #255665; padding-left: 1px; padding-bottom: 3px; padding-left: 8px; padding-right: 8px; margin: 0 auto; margin-top: 3px; 
-webkit-border-top-left-radius: 8px; 
-moz-border-radius-topleft: 8px; 
border-top-left-radius: 8px; 
-webkit-border-top-right-radius: 8px; 
-moz-border-radius-topright: 8px; 
border-top-right-radius: 8px; 
-webkit-border-bottom-right-radius: 8px; 
-moz-border-radius-bottomright: 8px; 
border-bottom-right-radius: 8px; 
-webkit-border-bottom-left-radius: 8px; 
-moz-border-radius-bottomleft: 8px; 
border-bottom-left-radius: 8px; 
}
#header .user_panel .usertype .username span { color: #ffffff; font-size: 10px; }
#header .user_panel .userinfo { margin-left: 15px; margin-top: 7px; float: left; }
#header .user_panel .userinfo span { font-size: 10px; color: #225765; line-height: 12px; }
#header .user_panel .userinfo .message,
#header .user_panel .userinfo .username { font-size: 12px; font-weight: bold; }
#header .user_panel .divider { width: 1px; height: 25px; background-color: #4a92a6; margin-left: 25px; margin-top: 14px; float: left; }
#header .user_panel .icons { float: left; height: 30px; margin-top: 16px; }
#header .user_panel .icons span { width: 20px; height: 20px; display: inline-block; margin-left: 25px; float: left; }
#header .user_panel .icons span.email { background:url(../../../theme/general/images/icn-email.png) no-repeat left top; margin-top: 2px; }
#header .user_panel .icons span.help { background:url(../../../theme/general/images/icn-help.png) no-repeat left top; }
#header .user_panel .icons span.logout { background:url(../../../theme/general/images/icn-logout.png) no-repeat left top; }
#header .user_panel .icons span.setting { background:url(../../../theme/general/images/icn-setting.png) no-repeat left top; height: 22px; margin-top: -1px;}
#header .user_panel .icons span.email:hover { background:url(../../../theme/general/images/icn-email.png) no-repeat left bottom; }
#header .user_panel .icons span.help:hover { background:url(../../../theme/general/images/icn-help.png) no-repeat left bottom; }
#header .user_panel .icons span.setting:hover { background:url(../../../theme/general/images/icn-setting.png) no-repeat left bottom; }
#header .user_panel .icons span.logout:hover { background:url(../../../theme/general/images/icn-logout.png) no-repeat left bottom; }

#navig { max-width: 100%; background-color: #024282; height: 45px; }
#navig .navig_panel { width: 1000px; margin: 0 auto; }

#content { max-width: 100%; margin-bottom: 35px; }
#content .breadcrumb { font-family: arial; font-size: 11px; color: #555555; width: 941px; margin: 0 auto; margin-top: 25px; margin-bottom: 16px; }
#content .breadcrumb .arrow { background: url(../../../theme/general/images/breadcrumb.png) no-repeat; width: 3px; height: 6px; display: inline-block; margin-left: 12px; margin-right: 12px; }
#content .content_iframe { width: 941px; margin: 0 auto; }

#footer { max-width: 100%; background-color: #ffffff; border-top: 1px solid #9c9e9c; height: 66px; padding-top: 17px; }
#footer a { color: #464646; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
#footer .details { width: 1000px; margin: 0 auto; font-family: arial; color: #464646; font-size: 12px; }
#footer .divider { margin-left: 8px; margin-right: 8px; }



/* Loading Screen */
.lightbox-loading { font-size: 12px; color: #ffffff; width: 56px; height: 84px; text-align: center; }
.lightbox-loading img { margin-bottom: 10px; }
.lightbox-loading-setting {
left: 50%;
margin-left: -28px;
margin-top: -42px;
position: absolute;
top: 50%; }
.lightbox-overlap { background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; left: 0; top: 0; right: 0; bottom: 0; white-space: nowrap; z-index: 9998; display: none; height: 100%; position: fixed; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC000000', endColorstr='#CC000000'); z-index: 9999!important; }
/* Loading Screen */

/* Lightbox - Standard */
.lightbox-standard-box-setting { left: 50%; margin-left: -180px; margin-top: -120px; position: absolute; top: 50%; }
.lightbox-standard-box { width: 360px; height: 240px; background-color: #ffffff; margin: 0; padding: 0; }
.lightbox-standard-header { background-color: #005bac; padding: 8px 15px; text-align: left; }
.lightbox-standard-header span { color: #ffffff; font-size: 14px; }
.lightbox-standard-box .close  { background:url(../images/icn-close.png) no-repeat; width: 12px; height: 12px; color: #ffffff; font-size: 14px; text-decoration: none; position: absolute; right: 0; margin-right: 10px; margin-top: 10px; }
.light-standard-content { padding: 15px; padding-top: 10px; white-space: normal; }
.fld_group.lightbox-form { margin-top: 20px; margin-bottom: 10px; }
.lightbox-btn { width: 100%; margin-bottom: 20px; }
.lightbox-btn .btn_grey2 { float: right; }
/* Lightbox - Standard */


/* Teaser Screen */
.teaser-loading { font-size: 12px; color: #ffffff; width: 633px; height: 309px; text-align: center; }
.teaser-loading-setting {
left: 50%;
margin-left: -316px;
margin-top: -154px;
position: absolute;
top: 50%; }
.teaser-header { width: 628px; height: 10px; background-color: #ffffff; padding-top: 15px; padding-bottom: 6px; padding-right: 15px; border-bottom: 3px solid #0268b2; }
.teaser-header span,
.teaser-header a span { color: #7b7b7b; font-size: 15px; line-height: 5px; }
.teaser-header a span { float: right; }
.teaser-content { width: 633px; background-color: #ffffff; padding: 5px; }
/* Teaser Screen */


/* Misc. */
.fontsize10 { font-size: 10px; }
.fontsize12 { font-size: 12px; }
.fontsize14 { font-size: 14px; }
.bold { font-weight: bold; }
.clsAsterisk { color: #ff0000; }
.marginB_10 { margin-bottom: 10px; }
.marginB_20 { margin-bottom: 20px; }
.marginT_20 { margin-top: 20px; }
.center { text-align: center; }
/* Misc. */

/* Content Template */
.content-base-wrapper { width: 929px; max-width: 100%; margin: 0 auto; overflow: hidden; text-align: center; margin-top: 30px; margin-bottom: 20px; }
.content-left-panel { width: 24.7578%; float: left; }
.content-middle-panel { width: 50.4844%; float: left; }
.content-right-panel  { width: 24.7578%; float: left; }
.content-full-right-panel  { width: 75.2422%; float: left; }
/* Content Template */

/* Portlet Setting*/
.portlet-header, .portlet-body, .portlet-full-body { padding-left: 15px; padding-top: 5px; padding-bottom: 5px; padding-right: 15px; text-align: left; margin-left: 5px; margin-right: 5px; }
.portlet-header { background-color: #005bac; }
.portlet-body  { background-color: #ffffff; border: 1px solid #d7d7d7; border-top: 0; padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px; color: #464646; }
.portlet-full-body  { background-color: #ffffff; border: 1px solid #d7d7d7; text-align: left; padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px; color: #464646; }
.portlet-bbo-body  { background-color: #ffffff; border: 1px solid #d7d7d7; text-align: left; padding: 30px; color: #464646; width: 35%; margin: 0 auto; }
.portlet-ftl-body  { background-color: #ffffff; border: 1px solid #d7d7d7; text-align: left; padding: 30px; color: #464646; width: 35%; margin: 0 auto; }
.portlet-fpx-body  { background-color: #ffffff; border: 1px solid #d7d7d7; text-align: left; padding: 30px; color: #464646; width: 35%; margin: 0 auto; }
.portlet-banner-body  { background-color: #ffffff; margin-left: 5px; margin-right: 5px; margin-bottom: 10px; }
.portlet-banner-body  a { border: 0; display: inline-block; margin-bottom: 10px;}
.portlet-header span { color: #ffffff; font-size: 14px; }
.portlet-body.news {  height: 253px;  }
/* Portlet Setting*/

/* iframe Setting */
#base-iframe { background: none; background-color: #ffffff; }
.portlet-iframe-body  { background-color: #ffffff; border: 1px solid #d7d7d7; border-top: 0; margin-bottom: 10px; color: #464646; margin-left: 5px; margin-right: 5px; }
.portlet-iframe-body iframe { width: 99.6%; border: 0; background-color: #ffffff; padding: 0; margin: 0; }
/* iframe Setting */

/* You Have */
.youhave-setting .youhave-cell:first-child { border-top: 0; }
.youhave-cell { padding-left: 10px; padding-right: 10px; border-top: 1px solid #ebebeb; padding-bottom: 11px; padding-top: 11px; cursor: pointer; }
.youhave-cell span.icn { width: 29px; height: 17px; display: block; float: left; }
.youhave-cell span.icn-pending-authorization { background:url(../images/icn-youhave.png) no-repeat 0 -1px; }
.youhave-cell span.icn-pending-review { background:url(../images/icn-youhave.png) no-repeat 0 -19px; }
.youhave-cell span.icn-rejected { background:url(../images/icn-youhave.png) no-repeat 0 -39px; }
.youhave-cell span.icn-message { background:url(../images/icn-youhave.png) no-repeat 0 -58px; }
.icn-label { color: #464646; font-size: 13px; text-decoration: none; float: left;}
.youhave-no { color: #ff0000; font-size: 13px; text-decoration: none; float: right; }
/* You Have */

/* Info Management */
/*changed by Andryan 20160817*/
.info-management { padding-left: 10px; padding-right: 10px; padding-bottom: 11px; padding-top: 11px; text-align: left;}
.info-management br { height: 22px; }
/* Info Management */

/* Form Element */
.fld_group {  }
.input_value_radio, .input_value_checkbox { display: inline-block; vertical-align: top; }
.input_value_label { display: inline-block; margin-left: 2px; margin-right: 5px; vertical-align: top; margin-top: 2px;}
.portlet-body.login .fld_group, .portlet-bbo-body .fld_group { margin-bottom: 10px; }
.portlet-bbo-body .fld_group { margin-bottom: 10px; padding-right: 0; }
.portlet-fpx-body .fld_group { margin-bottom: 10px; padding-right: 0; }
.portlet-ftl-body .fld_group { margin-bottom: 10px; padding-right: 0; }
.input_label { margin-bottom: 5px; }
.input_label span { color: #464646; font-size: 13px; font-weight: bold; }
.input_field input { width: 100%; }
input, select { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
input, select, textarea, span.select { 
color: #4d4d4d;
margin:0; 
padding:0;
outline:none;
/* -webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px; 
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px; */
border: 1px solid #d7d7d7;
background-color: #fafafd;
}
input {
height: 30px;
padding-left: 10px;
padding-right: 10px;
width: 100%;
display: block;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
input[type=text]::-ms-clear {
display: none;
}
input[type=radio],
input[type=checkbox] {
border: none;
width: auto!important;
height: auto!important;
margin: 0;
padding: 0;
}
.scn_div_input_dd {
height: 30px;
margin-top: 5px;
position: relative;
}
select, span.select {
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
appearance:none;
}
select option {
color: #4d4d4d;
padding: 4px;
}
select.scn_input_dd {
width: 100%;
height: 30px;
margin-bottom: 0;
margin-right: -10px;
opacity: 0;
position: relative;
z-index: 10;
}
span.select {
font-size: 12px;
color: #4d4d4d;
background: #fafafd url("../images/icn-droplist.png") no-repeat scroll right top;
border: 1px solid #d7d7d7;
float: left;
height: 28px;
left: 0;
line-height: 28px;
text-indent: 10px;
min-width: 99.5%;
overflow: hidden;
position: absolute;
z-index: 1;
/* padding-right: 18px; */
}
input:hover, textarea:hover { 
border: 1px solid #ffc600;
}
.input_fieldDate:hover input,
.input_value_picklist input:hover,
.input_field.picklist input:hover,
.input_fieldDate:focus input,
.input_value_picklist input:focus,
.input_field.picklist input:focus,
textarea.disabled:hover {
border: 1px solid #d3d3d3;
}

.input_field.picklist.error input,
.input_field.picklist.error input:focus,
.input_fieldDate.error input,
.scn_div_input_dd.error span,
.input_field.error input,
.input_value_picklist.error input,
.input_value_picklist.error input:hover,
textarea.error{
border: 1px solid #ff0000!important;
}

.input_value_label.disabled,
.input_label.disabled span {
color: #a9a9a9!important;
margin-top: 0;
}
.btn_grey.disabled div.btn_M:hover {
background-color: #ebebe4;
border: 1px solid #ebebe4; 
color: #a9a9a9;
}
.input_field.disabled input,
.input_fieldDate.disabled input,
.input_field.disabled picklist,
.select.disabled {
cursor: default;
pointer-events: none;
background-color: #ebebe4;
color: #a9a9a9;
}
span.select.disabled {
background: url("../images/icn-droplist.png") no-repeat scroll right bottom;
cursor: default;
pointer-events: none;
background-color: #ebebe4;
color: #a9a9a9;
}
	.custom-radio{
		width: 16px;
		height: 16px;
		display: inline-block;
		position: relative;
		z-index: 1;
		top: 0;
		background: url("../images/radio.png") no-repeat;
	}
	.custom-radio:hover{            
		background: url("../images/radio-hover.png") no-repeat;
	}
	.custom-radio.selected{
		background: url("../images/radio-selected.png") no-repeat;
	}
	.custom-radio input[type="radio"]{
		margin: 1px;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}

.custom-checkbox{
width: 16px;
height: 16px;
display: inline-block;
position: relative;
z-index: 1;
top: 0;
background: url("../images/checkbox.png") no-repeat;
}
.custom-checkbox:hover{
background: url("../images/checkbox-hover.png") no-repeat;
}
.custom-checkbox.selected{
background: url("../images/checkbox-selected.png") no-repeat;
}
.custom-checkbox input[type="checkbox"]{
margin: 0;
position: absolute;
z-index: 2;            
cursor: pointer;
outline: none;
opacity: 0;
/* CSS hacks for older browsers */
_noFocusLine: expression(this.hideFocus=true); 
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-khtml-opacity: 0;
-moz-opacity: 0;
}
.input_value_checkbox.disabled span,
.input_value_radio.disabled span  {
cursor: default;
pointer-events: none;
}
	
.icn-datepicker {
background: url("../images/icn_calendar.gif") no-repeat;
display: inline-block;
float: right;
height: 30px;
position: relative;
right: 0px;
top: -30px;
width: 36px;
z-index: 1;
cursor: pointer;
margin-bottom: -30px;
}
.icn-datepicker:hover {
background: url("../images/icn_calendar.gif") no-repeat 0 -30px;
}


#btm_btn { width: 100%; }
#btm_btn  a { float: right; }
a.btn_primary .btn_M  {
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
background-color: #255768;
color: #ffffff;
font-size: 14px;
margin-left: 15px;
text-align: center;
text-decoration: none;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
}
a.btn_primary .btn_M:hover {
font-size: 14px;
background-color: #38839c;
}
a.btn_secondary .btn_M  {
color: #005aac;
font-size: 14px;
line-height: 34px;
margin-left: 15px;
text-align: center;
text-decoration: underline;
}
#btm_btn .scn_div_input_dd {
width: 200px;
margin-top: 0;
float: right;
}

.fld_group.date span { display: inline-block; vertical-align: top; }
.fld_group.date .input_fieldDate { display: inline-block; width: 85%; float: right; }
/* Form Element */

/* Buttons */
a.btn_grey .btn_M {
background: none;
color: #ffffff;
font-size: 12px;
font-weight: normal;
text-shadow: none;
background-color: #255768;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
padding-left: 15px;
padding-right: 15px;
height: 32px;
line-height: 32px;
padding-top: 0;
text-align: center;
}
a.btn_grey .btn_M:hover {
background-color: #38839c;
}
a.btn_grey2 .btn_M {
background: none;
color: #464646;
font-size: 12px;
font-weight: normal;
border: 1px solid #d7d7d7;
text-shadow: none;
background-color: #e1e1e1;
-webkit-border-top-left-radius: 3px; 
-moz-border-radius-topleft: 3px; 
border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px; 
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px; 
-moz-border-radius-bottomright: 3px; 
border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomleft: 3px; 
border-bottom-left-radius: 3px;
padding-left: 20px;
padding-right: 20px;
height: 28x;
line-height: 28px;
padding-top: 0;
text-align: center;
}
a.btn_grey2 .btn_M {
/*     float: left; */
}
.btn_grey2 {
text-decoration: none;
}
a.btn_grey2 .btn_M:hover {
background-color: #c5c5c5;
border: 1px solid #d3d3d3;
}
.input_field_wrapper { width: 100%; }
.input_field_sidebutton { width: 49%; }
.input_field_sidebutton.first { float: right; }
.input_field_sidebutton.second { float: left; }
.fld_group.secret-word-box { padding: 8px; border: 1px solid #d7d7d7; }
.secret-word {
height: 28px;
line-height: 28px;
background-color: #ebebeb;
text-align: center;
}
.secret-word-message { font-size: 11px; line-height: 13px; margin-top: 10px; }
/* Buttons */

/* List Style */
#listing-icn {  }
#listing-icn li { padding-left: 12px; background: url(../images/icn-listing-arrow.png) no-repeat; line-height: 18px;}
/* List Style */

/* Promo */
.fld_group.events{ padding: 6px; border-top: 1px solid #ebebeb; }
/* Promo */

/* Forgot Password */
.fld_group.forgot { padding-top: 6px; padding-bottom: 6px; border-bottom: 1px solid #ebebeb; }
/* Forgot Password */

/* News */
.news .template { position: relative; font-size: 12px; border-top: 1px solid #d3d3d3; padding-top: 10px; padding-bottom: 15px; }
.news .template:first-child { border: 0; padding-top: 0; }
.news .header { font-size: 13px; color: #ff0000; font-weight: bold; line-height: 23px; }
/* News */

/* Notices & Alerts */
.portlet-body.alerts { margin-bottom: 0; padding-bottom: 0; }
.alerts .template:first-child { border: 0; padding-top: 0; }
.alerts span.header { font-size: 13px; color: #ff0000; font-weight: bold; line-height: 23px; }
.alerts .template { font-size: 12px; border-top: 1px solid #d3d3d3; padding-top: 10px; padding-bottom: 10px; position: relative; }
.paragraph-marginT p:first-child { margin-top: 0; }
.accordian-setting {
width: 12px;
height: 12px;
display: block;
position: absolute;
right: 0;
margin-top: 5px;
cursor: pointer;
text-decoration: none; 
}
/* Notices & Alerts */

/* Shortcut */
/*added by Andryan 20160817*/
.shortcut {text-align: left;}
.shortcut div { width: 80px; height: 85px; display: inline-block; text-align: center; cursor: pointer; margin-top: 22px; margin-bottom: 22px; margin-left: 25px; margin-right: 25px; }
.shortcut .realtime { background:url(../images/icn-shortcut-realtime.png) no-repeat center top; }
.shortcut .transaction { background:url(../images/icn-shortcut-transaction.png) no-repeat center top; }
.shortcut .otherstransfer { background:url(../images/icn-shortcut-otherstransfer.png) no-repeat center top; }
.shortcut .bulkpayment { background:url(../images/icn-shortcut-bulkpayment.png) no-repeat center top; }
.shortcut .supplychain { background:url(../images/icn-shortcut-supplychain.png) no-repeat center top; }
.shortcut span { font-size: 11px; line-height: 12px; padding-top: 55px; display: inline-block; text-decoration: none; }
/* Shortcut */

/* File Repository */
.filereposotory { padding: 15px; }
.filereposotory .fld_group { padding-right: 10px; }
.filereposotory table { margin-top: 10px; }
.filereposotory table:first-child { margin-top: 0 }
.filereposotory .table_listing {  }
/* File Repository */

/* Table Listing */
.table_listing { width: 100%; border: 1px solid #d7d7d7; background-color: #fafafd; border-collapse: separate!important; border-spacing: 0;
/* -webkit-border-top-left-radius: 5px; 
-moz-border-radius-topleft: 5px; 
border-top-left-radius: 5px; 
-webkit-border-top-right-radius: 5px; 
-moz-border-radius-topright: 5px; 
border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px; 
-moz-border-radius-bottomleft: 5px; 
border-bottom-left-radius: 5px; 
-webkit-border-bottom-right-radius: 5px; 
-moz-border-radius-bottomright: 5px; 
border-bottom-right-radius: 5px; */
}
.table_listing.data { margin-bottom: 10px; }
.table_listing td { color: #464646; border-left: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7; padding: 9px ;font-size: 12px; vertical-align: top; }
.table_listing td:first-child { border-left: 0!important; }
/* .table_listing tr:first-child td + td { border-top: 12px solid red; background-color: red; } */
.table_listing tr:first-child td { border-top: 0; }
.table_listing tr:nth-child(2) td { border-top: 0; }
.table_listing tr:last-child td:first-child {
-webkit-border-bottom-left-radius: 5px; 
-moz-border-radius-bottomleft: 5px; 
border-bottom-left-radius: 5px; 
}
.table_listing tr:last-child td:last-child {
-webkit-border-bottom-right-radius: 5px; 
-moz-border-radius-bottomright: 5px; 
border-bottom-right-radius: 5px;
}
.tableTitle { /* color: #4d4d4d; height: 20px; background-color: #e2e2e2; font-weight: bold; */ }

.tableTitle td {
color: #464646;
font-weight: bold;
background-color: #d7d7d7;
/* border-bottom: 3px solid #41aec9;
border-left: 1px solid #cbcbcb; */
}
.tableTitle td:first-child {
border-left: 0;
}
.tableTR_dark td { background-color: #f3f3f9; /* border: 1px solid #c5c5c5 */}
/* Table Listing */

/* Download Button start */
#Download {
background:#255768 url(../images/icn-download.png) no-repeat right;
padding-right: 30px;
}
#Download:hover {
background-color:#38839c;
}
#itemlist { position: absolute; right: 0; margin-top: 33px; z-index: 10; padding-right: 15px; }
.downloadListing ul { list-style-type: none; margin: 0; padding: 0; background-color: #ffffff; }
.downloadListing li a {
width: 91px;
background-color: #ffffff;
color: #464646;
padding: 6px 8px;
text-decoration: none; border: 1px solid #d7d7d7;
}
.downloadListing li:first-child a {
border-bottom: 0;
}
.downloadListing li a:hover {
background-color: #38839c;
color: #ffffff;
}
/* Download Button end */

/* Back to Top */
#back-to-top {
float: right;
background: url(../images/icn-backtotop.png) no-repeat;
width: 41px;
height: 43px;
cursor: pointer;
border: 0;
transition: opacity 0.2s ease-out;
/* IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
/* IE 5-7 */
filter: alpha(opacity=0);
/* Netscape */
-moz-opacity: 0;
/* Safari 1.x */
-khtml-opacity: 0;
/* Good browsers */
opacity: 0;
display: none;
pointer-events: auto;
}
#back-to-top:hover {
background: url(../images/icn-backtotop-hover.png) no-repeat;
display: block;
}
#back-to-top.show {
/* IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
/* IE 5-7 */
filter: alpha(opacity=100);
/* Netscape */
-moz-opacity: 1;
/* Safari 1.x */
-khtml-opacity: 1;
/* Good browsers */
opacity: 1;
display: block;
}
.back-to-top-outer { position: fixed; width: 100%; bottom: 94px; z-index: 10; text-align: center; pointer-events: none;  }
.back-to-top-inner { width: 1000px; display: inline-block; pointer-events: none; }
/* Back to Top */

/* Logout & BBO */
.portlet-full-body .header { font-size: 26px; font-weight: normal; line-height: 30px; }
.portlet-bbo-body  .header { font-size: 22px; color: #005bac; font-weight: bold; line-height: 25px; }
.portlet-bbo-body .noted { margin-top: 20px; }
.portlet-bbo-body .noted span { font-size: 13px; color: #ff0000; }
.portlet-bbo-body .bbo-login { font-size: 13px; line-height: 28px; }
.bbo-securesite { width: 35%; padding: 10px; margin: 0 auto; text-align: left; display: inline-block; }
.bbo-securesite-divider { width: 1px; height: 60px; display: block; background-color: #c7c7c7; float: left; margin-left: 20px; margin-right: 20px; }
.bbo-securesite-message { width: 230px; display: inline-block; float: left; }
/* Logout */

/* FPX Login */
.portlet-fpx-body  .header { font-size: 22px; color: #005bac; font-weight: bold; line-height: 25px; }
.portlet-fpx-body .noted { margin-top: 20px; }
.portlet-fpx-body .noted span { font-size: 13px; color: #ff0000; }
.portlet-fpx-body .fpx-login { font-size: 13px; line-height: 28px; }
.fpx-securesite { width: 38%; padding: 10px; margin: 0 auto; text-align: left; display: inline-block; }
.fpx-securesite-divider { width: 1px; height: 60px; display: block; background-color: #c7c7c7; float: left; margin-left: 20px; margin-right: 20px; }
.fpx-securesite-message { width: 260px; display: inline-block; float: left; }
/* FPX Login */

/* First Time Login */
.portlet-ftl-body  .header { font-size: 22px; color: #005bac; font-weight: bold; line-height: 25px; }
.portlet-ftl-bottom { color: #464646; margin: 0 auto; padding: 30px; padding-top: 10px; text-align: left; width: 35%; }
.icn-info { background:url(../images/icn-note.png) no-repeat; width: 12px; height: 12px; float: right; margin-top: 3px; cursor: pointer; }
#ftl-note { background-color: #ffffff; border: 1px solid #e1e1e1; display: none; padding: 10px 10px; position: absolute; width: 350px; margin-left: 180px; z-index: 10; }
#ftl-note2 { background-color: #ffffff; border: 1px solid #e1e1e1; display: none; padding: 10px 10px; position: absolute; width: 350px; margin-left: 250px; z-index: 10; }

/* First Time Login */

/* Login Page Banner */
.banner-setting { border: 1px solid #dbdbdd; margin-left: 5px; margin-right: 5px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; cursor: pointer; }
/* Login Page Banner */
.fld_group { padding-right: 10px; }
.input_value_radio, .input_value_checkbox { display: inline-block; vertical-align: top; }


/* News Portlet Animated Slide */
.da-slider{
	width: 100%;
	min-width: 427px;
	height: 255px;
	position: relative;
	margin: 0;
	overflow: hidden;
	-webkit-transition: background-position 1s ease-out 0.3s;
	-moz-transition: background-position 1s ease-out 0.3s;
	-o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
	transition: background-position 1s ease-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4d4d4d;
	text-align: left;
}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide p {
	position: absolute;
	opacity: 0;
	left: 110%;
}
.da-slider-fb .da-slide p{
	left: 0px;
	opacity: 1;
}
.da-slide p{
	width: 100%;
	overflow: hidden;
	margin-top: 0; 
}
.da-slide .da-news-img{
	width: 165px;
	height: 110px;
	float: left;
	margin-right: 10px;
	/* margin-bottom: 120px; andryan - alignment issue in login page UAT #407*/
}
.da-dots{
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 0;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #dfdddc;
	margin: 3px;
	cursor: pointer;
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
	background: #005bac;
	left: 0;
}
.da-slide-current p{
	top: 0;
	left: 0;
	opacity: 1;
	margin-top: 0;
}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2{
	-webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright p{
	-webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright .da-link{
	-webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromright .da-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; top: 0; opacity: 0; }
	100%{ left: 0; top: 0; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft p{
	-webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft .da-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	animation: toRightAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in-out both;
	-moz-animation: toRightAnim3 0.4s ease-in-out both;
	-o-animation: toRightAnim3 0.4s ease-in-out both;
	-ms-animation: toRightAnim3 0.4s ease-in-out both;
	animation: toRightAnim3 0.4s ease-in-out both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in-out both;
	-moz-animation: toRightAnim4 0.6s ease-in-out both;
	-o-animation: toRightAnim4 0.6s ease-in-out both;
	-ms-animation: toRightAnim4 0.6s ease-in-out both;
	animation: toRightAnim4 0.6s ease-in-out both;
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%; opacity: 1; }
	100%{ left: 0; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 0; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 0; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 0; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 0; opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
	-webkit-animation: toLeftAnim1 0.6s ease-in-out both;
	-moz-animation: toLeftAnim1 0.6s ease-in-out both;
	-o-animation: toLeftAnim1 0.6s ease-in-out both;
	-ms-animation: toLeftAnim1 0.6s ease-in-out both;
	animation: toLeftAnim1 0.6s ease-in-out both;
}
.da-slide-toleft p{
	-webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toleft .da-link{
	-webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
}
.da-slide-toleft .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 0; opacity: 1; }
	30%{ left: 15%; opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 0; opacity: 1; }
	30%{ left: 15%; opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 0; opacity: 1; }
	30%{ left: 15%; opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 0; opacity: 1; }
	30%{ left: 15%; opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 0; opacity: 1; }
	30%{ left: 15%; opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
/* News Portlet Animated Slide */

/* Browser Default Statement */
#statement { max-width: 100%; }
#statement div { margin: 0 auto; width: 920px; padding-left: 40px; padding-right: 40px; padding-bottom: 20px; text-align: center; }
#statement div span { font-size: 11px; color: #000000; font-style: italic; }
/* Browser Default Statement */