@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,blockquote,input { margin:0; padding:0; }
table { border-collapse: collapse; font-size: inherit; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
a { cursor: pointer; } 

html { height: 100%; overflow-y: hidden;}
body { height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4d4d4d; }

/* aesthetics */
.float_left { float: left; }
.float_right { float: right; }
.clear { clear: both; }
.padding_5 { padding: 5px; }
.padding_10 { padding: 10px; }
/* aesthetics */

/* text */
.bold { font-weight: bold; }
.align_center { text-align: center; }
.color_253084 { color: #253084; }/* blue */
.color_0067b1 { color: #0067b1; }/* rhb blue */
.color_ef3e42 { color: #ef3e42; }/* red */
h1 { font-size: 18px; font-weight: bold; margin-bottom: 10px; }
h1 span { font-weight: normal; }
h2 { font-size: 30px; color: #f58b8e; margin-bottom: 4px; line-height: 34px; }
h3 { font-size: 18px; color: #0067b1; margin-bottom: 4px; line-height: 28px; }
h4 { font-size: 20px; color: #424242; margin-bottom: 4px; }
h5 { font-size: 20px; font-weight:bold; color: #CC0000; margin-bottom: 4px; }
.asterisk { color: #F00; }
.clsAsterisk { color: #F00; }
.darkbold, .darkbold16 { color: #404040; font-weight: bold; }
.darkbold16 { font-size: 16px; }
.link { color: #0097e6; padding-left: 2px; }
.clsInstruction{ padding-left:40px;font-family : Arial;font-size : 8pt;color : red;}
.clsInstruction li{font-style : italic;}

/* text */

/* buttons */
.btn_L { background-position: top left; }
.btn_R { background-position: top right; }

a.btn_blue div { height: 33px; float: left; background-image: url(../images/btn_blue.png); background-repeat: no-repeat; }
a.btn_blue .btn_L, .btn_blue .btn_R { width: 20px; }
a.btn_blue:hover .btn_L { background-position: 0px -33px; }
a.btn_blue:hover .btn_R { background-position: -57px -33px; }
a.btn_blue .btnB_GO { width: 40px; background-position: -20px 0px; }
a.btn_blue:hover .btnB_GO { background-position: -20px -33px; }
a.btn_blue .btnB_LOGIN { width: 60px; background-position: -6px -66px; }
a.btn_blue:hover .btnB_LOGIN { background-position: -6px -99px; }

a.btn_grey .btn_L, .btn_grey .btn_R { height: 28px; width: 12px; float: left; background-image: url(../images/btn_grey.gif); background-repeat: no-repeat; }
a.btn_grey:hover .btn_L { background-position: 0px -28px; }
a.btn_grey:hover .btn_R { background-position: -12px -28px; }
a.btn_grey .btn_M { 
min-width: 60px;
height: 21px;
padding-top: 7px;
float: left;
background: url(../images/btn_greyM.gif) repeat-x top;
color: #575757;
font-size: 12px;
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 1px #f4f4f4;
text-decoration: none;
}
a.btn_grey:hover .btn_M { background-position: bottom; }

a.btn_turquoise  .btn_L, .btn_turquoise .btn_R { height: 30px; width: 14px; float: left; background-image: url(../images/btn_blue.gif); background-repeat: no-repeat; }
a.btn_turquoise .btn_M { 
min-width: 50px;
height: 23px;
padding-top: 7px;
float: left;
background: url(../images/btn_blueM.gif) repeat-x top;
color: #FAFAFC;
font-size: 12px;
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 1px #f4f4f4;
text-decoration: none;
}

.btn_ok { width: 60px; height: 26px; margin: 20px auto; background: url(../images/btn_ok.gif) no-repeat top; }
a:hover .btn_ok  { background-position: bottom; }

a .btn_search { width: 28px; height: 28px; background: url(../images/btn_search.gif) no-repeat top; }
a:hover .btn_search { background-position: bottom; }

a.btn_red .btn_L{height: 23px; width: 13px; float: left; background-image: url(../images/buttonleft.png); background-repeat: no-repeat; }
a.btn_red .btn_R{height: 23px; width: 13px; float: left; background-image: url(../images/buttonright.png); background-repeat: no-repeat; }
a.btn_red .btn_M{
min-width: 40px;
height: 23px;
float: left;
padding-top: 4px;
text-align: center;
background: url(../images/buttonmid.png) repeat-x ;
color: #FEFEFE;
font-size: 12px;
text-align: center;
text-decoration: none;
}
/* buttons */

#container { width: 100%; height: auto; min-height: 100%; position: relative; }
#container_other_link { width: 100%; height: auto; min-height: 100%; position: relative; background: url(../images/bgOtherLink.gif) repeat-x top #FFF; }
#container_top_banner { width: 100%; height: auto; min-height: 100%; position: relative; background: url(../images/bgTopBanner.gif) repeat-x top #FFF; }
#body_main { width: 1000px; margin: auto; padding-bottom: 80px; clear: both; }

#logo { height: 38px; }
#reflex { padding: 0px 10px; margin-bottom: 20px; float: left; }
#time { margin: 39px 16px 0px 0px; float: right; font-size: 11px; color: #252525; }

/* navigation */
#headernav_1 { border-left: 1px solid #696969; padding-left: 20px; }
#headernav_1, #headernav_2, #headernav_3 { margin: 10px; float: right; text-align: center; }
#headernav_1 a, #headernav_2 a, #headernav_3 a { color: #696969; text-decoration: none; }
#headernav_1 div, #headernav_2 div, #headernav_3 div { width: 28px; height: 28px; margin: auto; background: url(../images/icn_nav.png) no-repeat left; }
#headernav_2 div { background-position: -28px 0px; }
#headernav_3 div { background-position: -56px 0px; }


#nav { /*width: 830px;*/ float: right; margin: 10px 0px 30px 0px; }
#nav div { height: 39px; float: left; background-image: url(../images/nav.gif); background-repeat: no-repeat; }
#nav_1 { width: 49px; background-position: 0px 0px; }
#nav_2 { width: 174px; background-position: -49px 0px; }
#nav_3 { width: 91px; background-position: -223px 0px; }
#nav_4 { width: 97px; background-position: -314px 0px; }
#nav_5 { width: 174px; background-position: -411px 0px; }
#nav_6 { width: 180px; background-position: -585px 0px; }
#nav_7 { width: 65px; background-position: -765px 0px; }

a:hover #nav_1, .active #nav_1 { background-position: 0px -39px; }
a:hover #nav_2, .active #nav_2 { background-position: -49px -39px; }
a:hover #nav_3, .active #nav_3 { background-position: -223px -39px; }
a:hover #nav_4, .active #nav_4 { background-position: -314px -39px; }
a:hover #nav_5, .active #nav_5 { background-position: -411px -39px; }
a:hover #nav_6, .active #nav_6 { background-position: -585px -39px; }
a:hover #nav_7, .active #nav_7 { background-position: -765px -39px; }
/* navigation */

.input_info { padding: 6px 5px 5px 6px; _padding: 6px 5px 5px 6px; color: #555; font-weight: bold; font-size: 13px; }
.input_info2 { padding: 6px 5px 5px 6px; color: #555; font-size: 13px; }
.input_info3 { padding: -1px 5px -1px 6px; _padding: -1px 5px -1px 6px; color: #555; font-weight: bold; font-size: 13px; }
.input_field { height: 14px; padding: 8px; margin-right: 10px; margin-bottom: 2px; background: url(../images/input_text.gif) repeat-x bottom; position: relative; }
.input_fieldL { _padding-top: 6px;width: 10px; height: 30px; background: url(../images/input_textL.gif) no-repeat left bottom; position: absolute; top: 0px; left: -2px; }
.input_fieldR { padding: 7px; _padding-top: 13px;height: 16px; background: url(../images/input_textR.gif) no-repeat right bottom; position: absolute; top: 0px; right: -2px; }
.input_field:hover { background-position: left top; }
.input_field:hover .input_fieldL { background-position: left top; } 
.input_field:hover .input_fieldR { background-position: right top; } 
.input_field input { width: 100%; border: 0px; }

.input_fieldDate { width: 120px; height: 17px; padding-top: 5px; padding-bottom:8px; padding-left:8px; padding-right:8px; margin-right: 10px; margin-bottom: 2px; background: url(../images/input_text.gif) repeat-x bottom; position: relative; }
.input_fieldDateL { _padding-top: 4px;width: 10px; height: 30px; background: url(../images/input_textL.gif) no-repeat left bottom; position: absolute; top: 0px; left: -2px; }
.input_fieldDateR { padding: 7px; _padding-top: 11px; height: 16px; background: url(../images/input_textR.gif) no-repeat right bottom; position: absolute; top: 0px; right: -2px; }
.input_fieldDate:hover { background-position: left top; }
.input_fieldDate:hover .input_fieldDateL { background-position: left top; } 
.input_fieldDate:hover .input_fieldDateR { background-position: right top; } 
.input_fieldDate input {padding-top:2px; width: 80%;border: 0px; }

/* tab */
.table_tab { width: 100%; border: 1px solid #c5c5c5; }
.table_tab td { border-left: 1px solid #c9cacc; border-right: 1px solid #c9cacc; padding: 12px ;font-size: 12px }

.clsTabList{font-size : 9pt;background-color : #eeeeee;margin-left : 2px;padding : 8px;border-width : 1px;border-color : #c9cacc;cursor : hand;}
.clsTabListOn{font-size : 9pt;font-weight : bold ;color : #eeeeee;background-color: #027fb1;margin-left : 8px;padding : 2px;border-width : 1px;border-color : #c9cacc;}
.clsTabList:hover {color: #eeeeee;background: #027fb1;
}

/* login */
#login { width: 270px; margin: -8px 14px 10px 0px; }
#loginHead { height: 56px; padding: 0px 10px; background: url(../images/loginport_bg.gif) no-repeat; }
#loginBody { height: 436px; padding: 15px 25px; background: url(../images/loginport_bg.gif) no-repeat 0px -56px; }
#verisign_links { margin-top: 8px; }
#verisign_links li { list-style: url(../images/bullet.gif) inside; font-size: 11px; }
#verisign_links a { color: #253084; line-height: 16px; }
#verisign_links a:hover { text-decoration: none; }
#logoutBody { height: 34px; padding: 15px 80px; background: url(../images/loginport_bg.gif) no-repeat bottom; }
#logout_mssg { width: 350px; height: 256px; padding: 40px; float: left; background: url(../images/slider_bg.gif) no-repeat; margin-right: 10px; }
#logout1 { font-size: 24px; font-weight: bold; color: #5f5f5f; margin-bottom: 20px; }
#logout2 { font-size: 11px; color: #666; }

#log_assist { width: 258px; height: 186px; padding: 15px 5px; margin-bottom: 10px; background: url(../images/assist_bg.gif) no-repeat; font-size: 11px; }
#log_assist div { padding: 5px 0px 10px 14px; }
#log_assist_title { padding: 10px; color: #0067b1; font-size: 14px; font-weight: bold; }
#log_assist #num { font-size: 18px; font-weight: bold; }
#log_divider { border-top: 1px solid #ddd; clear: both; }

#notice { width: 714px; height: 154px; margin-top: 22px; background: url(../images/alert_bgM.gif) repeat-x; }
#notice_content { width: 340px; padding: 10px; float: left; }
#notice_links { width: 156px; height: 80px; padding: 0px 0px 25px 15px; margin: 12px; float: left; border-left: 1px solid #dec45b; }
#notice_links a { font-size: 11px; color: #0077c3; text-decoration: underline; line-height: 20px; }
#notice_links a:hover { text-decoration: none; }
/* login */

#main_content { float:left;}

.welcome {
padding: 10px 15px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 6px;
background-color: #ebebeb;
border: 1px solid #b2b2b2;
color: #5d5d5d;
}
.welcome div { padding: 10px 15px; margin: 5px 0px; background-color: #FFF; line-height: 20px; }

#latestNews { width: 480px; padding: 20px 10px 20px 0px; line-height: 20px; float: left; }
.latestNews_content { margin-top: 15px; }
.news_img { margin-right: 10px; float: left; position: relative; }
.news_imgNew { width: 32px; height: 18px; background: url(../images/icn_new.png) no-repeat; position: absolute; top: 4px; left: 2px; z-index: 1; }
.news_info { width: 360px; font-size: 11px; }
.latestNews_content .darkbold16 { margin-bottom: 4px; }

#sideport { width: 230px; margin: 30px 0px 0px 0px; float: right; }
.sideport_head { width: 230px; height: 39px; background: url(../images/homePort_head.gif) no-repeat; }
.sideport_icn { width: 49px; text-align: center; float: left; }
.sideport_title { padding: 12px; float: left; color: #333; font-size: 14px; font-weight: bold; text-shadow: 0px -1px #FFF; }
#sideport .darkbold { font-size: 14px; }
#sideport a { color: #244387; text-decoration: none; }
#sideport a:hover { text-decoration: underline; }

.table_listing { width: 100%; border: 1px solid #c5c5c5; }
.table_listing td { border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; padding: 12px ;font-size: 12px;}
.table_listing2 { width: 100%; border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; color: #666; }
.table_listing2 td {  padding: 12px ;font-size: 12px; color: #555555; }
.table_listing3 { width: 100%; border: 1px solid #c5c5c5; color: #666; }
.table_listing3 td {  padding: 12px ;font-size: 12px; color: #555555; }

.tableTR_dark td { background-color: #e9eced; border: 1px solid #c5c5c5}

.table_head1, .table_head2 { height: 40px; background: url(../images/table_headerbgM.gif) repeat-x; }
.tableH_M { float: left; padding: 11px; font-size: 15px; font-weight: bold; color: #424242; text-shadow: 1px 1px #e4eaee; }
.tableH_L, .tableH_R { width: 10px; height: 40px; background-image: url(../images/table_headerbg.gif); background-repeat: no-repeat; }
.table_head1 .tableH_L  { background-position: left top; float: left; }
.table_head1 .tableH_R  { background-position: right top; float: right; }
.table_head2 .tableH_L  { background-position: left bottom; float: left; }
.table_head2 .tableH_R  { background-position: right bottom; float: right; }
.table_head3 {font-size: 16px; font-weight: bold; color: #424242; text-shadow: 1px 1px #e4eaee; height: 54px; background: url(../images/table_headerbgM.gif) repeat-x; }

.table_head1_reg, .table_head2_reg { height: 40px; background: url(../images/table_headerbgM.gif) repeat-x; margin-left: 300px; margin-right: 300px; resize: none;}
.tableH_M_reg { float: left; padding: 8px; font-size: 15px; font-weight: bold; color: #424242; }
.tableH_L_reg, .tableH_R_reg { width: 10px; height: 40px; background-image: url(../images/table_headerbg.gif); background-repeat: no-repeat; }
.table_head1_reg .tableH_L_reg { background-position: left top; float: left; }
.table_head1_reg .tableH_R_reg  { background-position: right top; float: right; }

.tableTitle { height: 20px; background: url(../images/table_titleBG.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5}
.tableTitle2 { height: 45px; background: url(../images/table_titleBG2.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5}
.tableTitle3 { height: 35px; background: url(../images/table_titleBG4.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5}
.tableTitle4 { height: 90px; background: url(../images/table_titleBG3.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5}
.tableTitle5 { height: 120px; background: url(../images/table_titleBG5.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; border-bottom:1px solid #c5c5c5}
.tableTitleBackground { background: url(../images/table_titleBG3.gif) repeat-x; text-shadow: 1px 1px #e8ebee; font-weight: bold; }
.table_total { text-align: center; font-size: 16px; font-weight: bold; text-shadow: 1px 1px #FFF; }
.table_totalSum { text-align: right; font-size: 16px; font-weight: bold; text-shadow: 1px 1px #FFF; }
.table_content { padding: 10px 15px; border: 1px solid #c5c5c5; color: #666; }
.table_content td { padding-bottom: 5px; }

.table_content_reg{  border: 1px solid #c5c5c5; margin-left: 300px; margin-right: 300px; color: #666; }

.table_content .input_field { width: 50%; } 

.tableBtm { padding: 5px; margin-bottom: 15px; border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; background: url(../images/table_btmM.gif) repeat-x bottom; position: relative; }
.tableBtm_L { width: 8px; height: 8px; background: url(../images/table_btm.gif) no-repeat left; position: absolute; bottom: 0px; left: -1px; }
.tableBtm_R { width: 8px; height: 8px; background: url(../images/table_btm.gif) no-repeat right; position: absolute; bottom: 0px; right: -1px; }

.tableBtm2 { padding: 5px; margin-bottom: 3px; background: url(../images/table_btmM.gif) repeat-x bottom; position: relative; }
.tableBtm_L2 { width: 8px; height: 8px; background: url(../images/table_btm2.gif) no-repeat left; position: absolute; bottom: -4px; left: 0px; }
.tableBtm_R2 { width: 8px; height: 8px; background: url(../images/table_btm2.gif) no-repeat right; position: absolute; bottom: -4px; right: 0px; }

.tableBtm3 { padding: 5px; margin-bottom: 15px; border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; background: url(../images/table_btmM.gif) repeat-x bottom; position: relative;}

.mssg_instruct {
	font-family : Arial;
	font-size : 8pt;
margin-top: 15px;
padding: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 6px;
background-color: #d0e4f4;
border: 1px solid #9bbbd8;
color: #4a7ea8;
}

#footer { height: 31px; background: url(../images/footerbg.gif) repeat-x #FFF; width: 100%; position: absolute; bottom: 0px; }
#footer ul { width: 1000px; margin: auto; padding-top: 8px; text-align: center; }
#footer ul li { padding: 0px 20px 0px 12px; margin-left: 20px; background: url(../images/bullet_footer.gif) no-repeat left 5px; display: inline; }
#footer a { font-size: 10px; color: #6f7173; text-decoration: none; } 
#footer a:hover { color: #3a3a3a; }

	
.header_highlight{ background-position: top; }

.clsErrorMsg
{
	font-size : 11pt;
	font-weight : bold;
	font-family : Arial;
	color : red;
}

select {
font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.disclaimer { padding: 10px; color: #A9A9A9;}