/* Insignificant stuff, for demo purposes */

	noscript div { background: #ccc; border: 1px solid #900; margin: 20px 0; padding: 15px }

/* Most common stuff you'll need to change */

	.coda-slider-wrapper { width: 418px; height: 316px; float: left; background: url(../images/slider_bg.gif) no-repeat; padding: 10px; margin-right: 0px; position: relative; }
	.coda-slider { margin: 6px; }
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width: 400px; } 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 400px; }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0px; }
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: url(../images/slider_arrows.png) no-repeat; width: 28px; height: 26px; position: absolute; z-index: 1; top: 144px; }
	.coda-nav-left a { background-position: top; }
	.coda-nav-right a { background-position: bottom; right: 18px; }
	
	/* Tab nav */
	.coda-nav ul li a.current { background-position: bottom; color: #f2f2f2; }
	
	/* Panel padding */
	.coda-slider .panel-wrapper { padding: 0px; }
	
	/* Preloader */
	.coda-slider p.loading { padding: 20px; text-align: center; }

/* Don't change anything below here unless you know what you're doing */

	/* Tabbed nav */
	.coda-nav ul { float: right; display: block; margin-right: 4px; overflow: hidden; }
	.coda-nav ul li { display: inline; }
	.coda-nav ul li a { 
	width: 14px;
	height: 14px;
	margin: 4px 2px;
	padding: 5px;
	background: url(../images/slider_btnbg.png) no-repeat top;
	display: block;
	float: left;
	color: #717171;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	}
	
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: auto; }
	.coda-slider { float: left; overflow: hidden; position: relative; }
	.coda-slider .panel { display: block; float: left; }
	.coda-slider .panel-container { position: relative; }
	.coda-nav-left, .coda-nav-right { float: left; }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none; }
	